<div class="row fondoConvocatoria center-align ">
    <form class="col s6 formConvocatoria z-depth-3">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/eb/Univalle.svg/1200px-Univalle.svg.png " width="50px" alt="LogoUV">
      <h3 class="tituloRegistroConvocatoria"> Crea una Convocatoria</h3>
      <div class="row ">
        <div class="input-field col s12">
          <select>
            <option value="" disabled selected>Escoje tu opción</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
          <label>Selecciona una beca</label>
        </div>
        <div class="input-field col s6">
          <input id="cupos" type="number" class="validate">
          <label for="cupos">Cupos</label>
        </div>
        <div class="input-field col s6">
          <input id="datepicker" type="text" class="datepicker">
                <label for="fechaInicio">Elige la fecha inicial</label>  
        </div>
        <div class="input-field col s6">
          <input id="datepicker" type="text" class="datepicker">
                <label for="fechaFin">Elige la fecha final</label>  
        </div>
        <div class="input-field col s6">
          <input type="text" class="timepicker">
          <label for="horaInicio">Hora inicio</label>  
        </div>
        <div class="input-field col s6">
          <input type="text" class="timepicker">
          <label for="horaFin">Hora final</label>  
        </div>
        <div class="input-field col s6 ">
          <select>
            <option value="" disabled selected>Escoje tu opción</option>
            <option value="1">Option 1</option>
          </select>
          <label>Selecciona periodo acádemico</label>
        </div>
      </div>
      <div class="center-align">
      <button class="btn waves-effect waves-light red darken-4 " type="submit" name="action">Registrar</button>
      </div>
    </form>
  </div>
        