
<app-navbar></app-navbar>
<div class="caja z-depth-3">
    <div class="logo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/eb/Univalle.svg/1200px-Univalle.svg.png " width="50px" alt="LogoUV">
      </div>
      <div>
          <h5>Lista de convocatorias</h5>
      </div>
      <div class="tabla">
<table class="striped">
    <thead>
      <tr>
          <th>Fecha <br> de  inicio</th>
          <th>Fecha fin</th>
          <th>Estado de <br> convocatoria</th>
          <th>Beca</th>
          <th>Periodo</th>
          <th>Cupos</th>
          <th>Postulaciones</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><i class="icofont-search-2"></i></td>


      </tr>
     
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><i class="icon icofont-search-2"></i></td>
      </tr>
    </tbody>
  </table>

</div>

</div>
