<app-navbar></app-navbar>
<ng-template #mytemplate>
  <div *ngIf="success" class="dialogSuccess">
    <i class="icofont-ui-check text-center iconSuccessRegister"></i>
    <h2 class="text-center textoSuccess">Actualizado exitosamente</h2>
  </div>
  <div *ngIf="!success" class="dialogSuccess">
    <i class="icofont-close-circled text-center iconErrRegister"></i>
    <h2 class="text-center textoSuccess">Error al actualizar</h2>
  </div>
</ng-template>

<ng-template #agregarCarreraModal>
  <ng-template #biencarrera>
  <div class="dialogSuccess">
    <i class="icofont-ui-check text-center iconSuccessRegister"></i>
    <h2 class="text-center textoSuccess">Agregada exitosamente</h2>
  </div>
</ng-template>
<ng-template #malcarrera>
  <div *ngIf="!success" class="dialogSuccess">
    <i class="icofont-close-circled text-center iconErrRegister"></i>
    <h2 class="text-center textoSuccess">Error al agregar la carrera</h2>
  </div>
</ng-template>
<ng-template #carrerarepetida>
  <div *ngIf="!success" class="dialogSuccess">
    <i class="icofont-close-circled text-center iconErrRegister"></i>
    <h2 class="text-center textoSuccess">ERROR: Esa carrera ya ha sido agregada</h2>
  </div>
</ng-template>
  <div class="row">
    <div class="col s12 text-center">
      <h1>Agregar una carrera</h1>
      <hr>
      <form>
        <div class="col s6" >
          <h4>Selecciona una carrera</h4>
              <mat-form-field appearance="fill">
                <mat-select #carreraselss required >
                  <mat-option>-- Selecciona una carrera --</mat-option>
                  <mat-option *ngFor="let carreras of getcarreras" [value]="carreras" >
                  {{carreras.carreranombre}}</mat-option>
              </mat-select>
              <mat-label> <b> Carreras</b></mat-label>
          </mat-form-field>
        </div>
        <div class="col s6">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Codigo estudiante</mat-label>
            <input matInput #codigoestss class="matfontbolder" id="codigoest"  placeholder="Codigo estudiante" type="number">
          </mat-form-field>
        </div>
        <div class="col s12">
          <a (click)="agregarCarrera(carreraselss.value,codigoestss.value,biencarrera,malcarrera,carrerarepetida)" mat-stroked-button color="primary">Guardar carrera</a>
        </div>
      </form>
    </div>
  </div>
</ng-template>
<div class="cuerpopage cup1" data-aos="fade-down" data-aos-once="true">
  <div class="formtiq">
    <mat-tab-group mat-align-tabs="start" animationDuration="0ms">
  <mat-tab label="Actualizar datos basicos" data-aos="fade-down" data-aos-once="true">
      <div class="formsmodificaruser">
    <form class="col-12" [formGroup]="updateForm" novalidate>
      <div class="row">
        <div class="input-field col-12">
          <mat-form-field class="example-full-width" disabled appearance="fill">
            <mat-label>Identificacion</mat-label>
            <input #identificacion class="matfontbolder" id="identificacion" disabled matInput placeholder="Identificacion" type="number"
            [value]="$nombreusuario.identi">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="input-field col-6">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nombre</mat-label>
            <input #nombre id="nombre" class="matfontbolder" matInput type="text" placeholder="Nombre" [value]="$nombreusuario.nombre"
            formControlName="nombre" >
            <mat-error class="help-block form-error text-danger small" *ngIf="updateForm.controls['nombre'].hasError('required') &&
            updateForm.controls['nombre'].touched">Nombre es requerido</mat-error>
            <mat-error class="help-block form-error text-danger small" *ngIf="updateForm.controls['nombre'].hasError('minlength') &&
            updateForm.controls['nombre'].touched">Mínimo 3 letras</mat-error>
            <mat-error class="help-block form-error text-danger small" *ngIf="updateForm.controls['nombre'].hasError('maxlength') &&
            updateForm.controls['nombre'].touched">Máximo 30 letras</mat-error>
            <mat-error class="help-block form-error text-danger small" *ngIf="updateForm.controls['nombre'].hasError('maxlength') &&
            updateForm.controls['nombre'].touched">Máximo 30 letras</mat-error>
            <mat-error class="help-block form-error text-danger small" *ngIf="updateForm.controls['nombre'].hasError('pattern') &&
            updateForm.controls['nombre'].touched">Solo se aceptan letras.</mat-error>
          </mat-form-field>
        </div>
        <div class="input-field col-6">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Apellido</mat-label>
            <input #apellido class="matfontbolder" id="apellido" matInput placeholder="Apellido" [value]="$nombreusuario.apellido"
            formControlName="apellido">
            <mat-error class="help-block form-error text-danger small"
            *ngIf="updateForm.controls['apellido'].hasError('required') &&updateForm.controls['apellido'].touched">
          Apellido es Requerido</mat-error>
          <mat-error class="help-block form-error text-danger small"
          *ngIf="updateForm.controls['apellido'].hasError('minlength') &&updateForm.controls['apellido'].touched">
        Mínimo 3 Letras</mat-error>
        <mat-error class="help-block form-error text-danger small"
        *ngIf="updateForm.controls['apellido'].hasError('maxlength') &&updateForm.controls['apellido'].touched">
      Máximo 3 Letras</mat-error>
      <mat-error class="help-block form-error text-danger small" *ngIf="updateForm.controls['apellido'].hasError('pattern') &&
      updateForm.controls['apellido'].touched">Solo se aceptan letras.</mat-error>
    </mat-form-field>
  </div>
</div>
<div class="row">
  <div class="input-field col-12">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input #correo id="email" class="matfontbolder" matInput placeholder="Correo" [value]="$nombreusuario.correo"
      formControlName="correo">
      <mat-error class="help-block form-error text-danger small"
      *ngIf="updateForm.controls['correo'].hasError('required') && updateForm.controls['correo'].touched">Correo
    es requerido</mat-error>
  </mat-form-field>
</div>
</div>
<div>
  <a class="btn waves-effect waves-light red darken-4 " [class.disabled]="!updateForm.valid" (click)="registrarSaldo
  (identificacion.value,correo.value,
  apellido.value,nombre.value,mytemplate)" mat-raised-button color="primary" name="action">Actualizar</a>
</div>
</form>
</div>
  </mat-tab>
    <mat-tab label="Mis carreras" data-aos="fade-down" data-aos-once="true">
      <div class="row formsmodificaruser">
        <div class="col-12">
          <div>
          <a mat-raised-button color="warn" (click)="abrirModalCarrera(agregarCarreraModal)">Agregar una carrera</a>
        </div>
          <table class="table table-bordered table-striped mb-0">
            <thead>
              <tr>
                <th>Carrera</th>
                <th>Codigo estudiante</th>
              </tr>
            </thead>

            <tbody *ngFor="let carreras of carrerasest">
              <tr>
                <td>{{carreras.carrera}}</td>
                <td>{{carreras.codigoestudiante}}</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
    </mat-tab>
</mat-tab-group>
</div>
</div>