<app-navbar></app-navbar>
<ng-template #agregarCarreraModal>
  <div class="row">
    <div class="col s12 text-center">
      <h1>AGREGAR UNA CARRERA</h1>
      <hr>
      <form [formGroup]="formularioCarrera">
        <div class="col s6" >
          <h4>Selecciona una carrera</h4>
              <mat-form-field appearance="fill">
                <mat-select #carreraselss required formControlName="nombreCarrera" >
                  <mat-option>-- Selecciona una carrera --</mat-option>
                  <mat-option *ngFor="let carreras of getcarreras" [value]="carreras" >
                  {{carreras.carreranombre}}</mat-option>
              </mat-select>
              <mat-error class="help-block form-error text-danger small" *ngIf="formularioCarrera.controls['nombreCarrera'].hasError('required') &&
              formularioCarrera.controls['nombreCarrera'].touched">Seleccione una carrera</mat-error>
              <mat-label> <b> Carreras</b></mat-label>
          </mat-form-field>
        </div>
        <!--<div class="col s6">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Código estudiante</mat-label>
            <input matInput #codigoestss class="matfontbolder" id="codigoest"  placeholder="Código estudiante" type="number">
          </mat-form-field>
        </div>-->
        <div class="col s6">
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Código estudiante</mat-label>
              <input matInput #codigoestss formControlName="codigoCarrera" class="matfontbolder" placeholder="Código estudiante" pattern="^[0-9]+" id="codigoest" type="text" class="validate">
            </mat-form-field>
            <div *ngIf="formularioCarrera.get('codigoCarrera').errors && formularioCarrera.get('codigoCarrera').dirty">
              <mat-error *ngIf="formularioCarrera.get('codigoCarrera').hasError('required')">Este campo es obligatorio</mat-error>
              <mat-error *ngIf="formularioCarrera.get('codigoCarrera').hasError('minlength')">Se debe ingresar mínimo 5 caracteres </mat-error>
              <mat-error *ngIf="formularioCarrera.get('codigoCarrera').hasError('pattern')"> <br>Solo números</mat-error>
            </div>
        </div>
        <div class="col-12">
          <a mat-raised-button color="primary"  [disabled]="true" *ngIf="!formularioCarrera.valid"  name="action">Guardar carrera</a>				
          <a mat-raised-button color="primary" *ngIf="formularioCarrera.valid"
          (click)="agregarCarrera(carreraselss.value,codigoestss.value)"  name="action">Guardar carrera</a>
        </div>
      </form>
    </div>
  </div>
</ng-template>
<div class="cuerpopage cup1" data-aos="fade-down" data-aos-once="true">
  <div class="formtiq">
    <mat-tab-group mat-align-tabs="start" animationDuration="0ms">
  <mat-tab label="Actualizar datos básicos" data-aos="fade-down" data-aos-once="true">
      <div class="formsmodificaruser">
    <form class="col-12" [formGroup]="updateForm" novalidate>
      <div class="row">
        <div class="input-field col-lg">
          <h4>Identificación</h4>
          <mat-form-field class="example-full-width" disabled appearance="fill">
            <mat-label>Identificación</mat-label>
            <input [(ngModel)]="$nombreusuario.identi" class="matfontbolder" id="identificacion" disabled matInput placeholder="Identificacion" type="number"
            [value]="$nombreusuario.identi" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="input-field col-lg">
          <h4>Nombre</h4>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nombre</mat-label>
            <input [(ngModel)]="$nombreusuario.nombre" id="nombre" class="matfontbolder" matInput type="text" placeholder="Nombre" [value]="$nombreusuario.nombre"
            formControlName="nombre"  >
            <mat-error class="help-block form-error text-danger small" *ngIf="updateForm.controls['nombre'].hasError('required') &&
            updateForm.controls['nombre'].touched">Nombre es requerido</mat-error>
            <mat-error class="help-block form-error text-danger small" *ngIf="updateForm.controls['nombre'].hasError('minlength') &&
            updateForm.controls['nombre'].touched">Mínimo 3 letras</mat-error>
            <mat-error class="help-block form-error text-danger small" *ngIf="updateForm.controls['nombre'].hasError('maxlength') &&
            updateForm.controls['nombre'].touched">Máximo 30 letras</mat-error>
            <mat-error class="help-block form-error text-danger small" *ngIf="updateForm.controls['nombre'].hasError('maxlength') &&
            updateForm.controls['nombre'].touched">Máximo 30 letras</mat-error>
            <mat-error class="help-block form-error text-danger small" *ngIf="updateForm.controls['nombre'].hasError('pattern') &&
            updateForm.controls['nombre'].touched">Solo se aceptan letras.</mat-error>
          </mat-form-field>
        </div>
        <div class="input-field col-lg">
          <h4>Apellido</h4>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Apellido</mat-label>
            <input [(ngModel)]="$nombreusuario.apellido" class="matfontbolder" id="apellido" matInput placeholder="Apellido" [value]="$nombreusuario.apellido"
            formControlName="apellido" >
            <mat-error class="help-block form-error text-danger small"
            *ngIf="updateForm.controls['apellido'].hasError('required') &&updateForm.controls['apellido'].touched">
          Apellido es Requerido</mat-error>
          <mat-error class="help-block form-error text-danger small"
          *ngIf="updateForm.controls['apellido'].hasError('minlength') &&updateForm.controls['apellido'].touched">
        Mínimo 3 Letras</mat-error>
        <mat-error class="help-block form-error text-danger small"
        *ngIf="updateForm.controls['apellido'].hasError('maxlength') &&updateForm.controls['apellido'].touched">
      Máximo 3 Letras</mat-error>
      <mat-error class="help-block form-error text-danger small" *ngIf="updateForm.controls['apellido'].hasError('pattern') &&
      updateForm.controls['apellido'].touched">Solo se aceptan letras.</mat-error>
    </mat-form-field>
  </div>
</div>
<div class="row">
  <div class="input-field col-lg">
    <h4>Email</h4>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input [(ngModel)]="$nombreusuario.correo" id="email" class="matfontbolder" matInput placeholder="Correo" [value]="$nombreusuario.correo"
      formControlName="correo" >
      <mat-error class="help-block form-error text-danger small"
      *ngIf="updateForm.controls['correo'].hasError('required') && updateForm.controls['correo'].touched">Correo
    es requerido</mat-error>
  </mat-form-field>
</div>
<div class="input-field col-lg">
  <h4>Contraseña</h4>
<mat-form-field>
  <mat-label>Contraseña</mat-label>
  <input matInput #contrasena placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
  <span class="input-group-text estiloOjos" ><i class="icofont-eye-blocked ojos" (click)="hide = !hide " *ngIf="hide == true" ></i></span>
  <span class="input-group-text estiloOjos" ><i class="icofont-eye-alt ojos" (click)="hide = !hide" *ngIf="hide == false"></i></span>
</mat-form-field>
</div>
</div>
<div class="row">
  <div class="input-field col-lg">
    <h4>Estrato</h4>
  <mat-form-field appearance="fill" class="example-full-width">
    <mat-label>{{$nombreusuario.estrato}} </mat-label>
    <mat-select [(ngModel)]="$nombreusuario.estrato" [ngModelOptions]="{standalone: true}">
      <mat-option value="1">1</mat-option>
      <mat-option value="2">2</mat-option>
      <mat-option value="3">3</mat-option>
      <mat-option value="4">4</mat-option>
      <mat-option value="5">5</mat-option>
      <mat-option value="6">6</mat-option>
    </mat-select>
  </mat-form-field>
  </div>
  <div class="input-field col-lg">
    <h4>Zona Residencial</h4>
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>{{$nombreusuario.zonaresidencial}}</mat-label>
      <mat-select [(ngModel)]="$nombreusuario.zonaresidencial" [ngModelOptions]="{standalone: true}">
        <mat-option value="Rural">Rural</mat-option>
        <mat-option value="Urbana">Urbana</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div class="row">
<div class="input-field col-lg" style="padding:0;">
  <h4>Fecha Nacimiento</h4>
  <mat-form-field appearance="fill" class="example-full-width">
    <mat-label>Fecha de nacimiento</mat-label>
    <input matInput [(ngModel)]="$nombreusuario.fechanacimiento" [matDatepicker]="picker" [ngModelOptions]="{standalone: true}">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <strong ><h5 style="margin-top: -8%;margin-bottom: 10%;">Fecha Actual: {{fechanacimiento}}</h5></strong>
  </div>
  <div class="input-field col-lg" style="line-height: 4.3;">
          <h4>Dirección</h4>
          <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>{{$nombreusuario.direccion}}</mat-label>
            <input matInput formControlName="direccion" [(ngModel)]="$nombreusuario.direccion" id="direccion" type="text" class="validate">
          </mat-form-field>
        </div>
</div>
  <div>
    <a class="btn waves-effect waves-light red darken-4 " [class.disabled]="!updateForm.valid" (click)="actualizarUsuario
    (contrasena.value)" mat-raised-button color="primary" name="action">Actualizar</a>
  </div>
</form>
</div>
  </mat-tab>
    <mat-tab label="Mis carreras" data-aos="fade-down" data-aos-once="true" *ngIf="$nombreusuario.rol == '1'">
      <div class="row formsmodificaruser">
        <div class="col-12">
          <div>
          <a mat-raised-button color="warn" (click)="abrirModalCarrera(agregarCarreraModal)">Agregar una carrera</a>
        </div>
        <div class="col-12">
          <div class="alert alert-info alert-dismissible fade show" *ngIf="carrerasest == null">
              <strong>Alerta!</strong> No tienes carreras registradas, por favor registra una carrera para usar las funcionalidades del sistema.
          </div>
        </div>
          <table class="table table-bordered table-striped mb-0" *ngIf="carrerasest != null">
            <thead>
              <tr>
                <th>Carrera</th>
                <th>Código estudiante</th>
              </tr>
            </thead>
            <tbody *ngFor="let carreras of carrerasest">
              <tr>
                <td>{{carreras.carrera}}</td>
                <td>{{carreras.codigoestudiante}}</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
    </mat-tab>
</mat-tab-group>
</div>
</div>