.cup1{
    padding: 3% 26% 8% 26%;
}

.formsmodificaruser{
    padding: 20px;
    width: 100%;
}


.matfontbolder{
    font-weight: bolder;
}

.iconSuccessRegister{
    font-size: 44px;
    color: green;
    border: 2px solid green;
    border-radius: 50%;
    padding: 10px;
}

.iconErrRegister{
	font-size: 44px;
    color: red;
}

.textoSuccess{
	margin-top: 20px;
}

.dialogSuccess{
	text-align: center;
    padding-top: 7px;
}

.tituloRegistroConvocatoria{
    font-size: 24px;
    margin-top: 0;
}

.estiloOjos{
    background: none;
    border: none;
    float: right;
    margin-top: -53.7%;
    z-index: 1;
}
.ojos{
    font-size: 150%;
    line-height: 4.125;
    margin-top: 119%;
    margin-bottom: -125%;
    z-index: 2;
}
@media only screen and (max-width: 828px){
	.fondoActualizar{
        width: 18%;
        margin-left: 26%;
    }
}
@media only screen and (max-width: 708px){
	.fondoActualizar{
        width: 18%;
        margin-left: 18%;
    }
}
@media only screen and (max-width: 539px){
	.fondoActualizar{
        width: 18%;
        margin-left: 5%;
    }
}
@media only screen and (max-width: 460px){
	.fondoActualizar{
        width: 18%;
        margin-left: 0%;
    }
}