<app-navbar></app-navbar>
<ng-template #mytemplate>
  <div *ngIf="success" class="dialogSuccess">
    <i class="icofont-ui-check text-center iconSuccessRegister"></i>
    <h2 class="text-center textoSuccess">Actualizado exitosamente</h2>
  </div>
  <div *ngIf="!success" class="dialogSuccess">
    <i class="icofont-close-circled text-center iconErrRegister"></i>
    <h2 class="text-center textoSuccess">Error al actualizar</h2>
  </div>
</ng-template>
<div class="cuerpopage cup1" data-aos="fade-down" data-aos-once="true">
  <div class="formtiq">
    <div class="logo">
      <h1 > Actualiza Usuario</h1>
      <hr>
    </div>
    <form class="col s12" [formGroup]="updateForm" novalidate>
      <div class="row">
        <div class="input-field col s4">
          <mat-form-field class="example-full-width" disabled appearance="fill">
            <mat-label>Identificacion</mat-label>
            <input #identificacion class="matfontbolder" id="identificacion" disabled matInput placeholder="Identificacion" type="number"
            [value]="$nombreusuario.identi">
          </mat-form-field>
        </div>
        <div class="input-field col s4">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Saldo Actual</mat-label>
            <input #saldo id="saldo" class="matfontbolder" matInput placeholder="Saldo" disabled type="number" [value]="$nombreusuario.saldo">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nombre</mat-label>
            <input #nombre id="nombre" class="matfontbolder" matInput type="text" placeholder="Nombre" [value]="$nombreusuario.nombre"
            formControlName="nombre" >
            <mat-error class="help-block form-error text-danger small" *ngIf="updateForm.controls['nombre'].hasError('required') &&
            updateForm.controls['nombre'].touched">Nombre es requerido</mat-error>
            <mat-error class="help-block form-error text-danger small" *ngIf="updateForm.controls['nombre'].hasError('minlength') &&
            updateForm.controls['nombre'].touched">Mínimo 3 letras</mat-error>
            <mat-error class="help-block form-error text-danger small" *ngIf="updateForm.controls['nombre'].hasError('maxlength') &&
            updateForm.controls['nombre'].touched">Máximo 30 letras</mat-error>
            <mat-error class="help-block form-error text-danger small" *ngIf="updateForm.controls['nombre'].hasError('maxlength') &&
            updateForm.controls['nombre'].touched">Máximo 30 letras</mat-error>
            <mat-error class="help-block form-error text-danger small" *ngIf="updateForm.controls['nombre'].hasError('pattern') &&
            updateForm.controls['nombre'].touched">Solo se aceptan letras.</mat-error>
          </mat-form-field>
        </div>
        <div class="input-field col s4">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Apellido</mat-label>
            <input #apellido class="matfontbolder" id="apellido" matInput placeholder="Apellido" [value]="$nombreusuario.apellido"
            formControlName="apellido">
            <mat-error class="help-block form-error text-danger small"
            *ngIf="updateForm.controls['apellido'].hasError('required') &&updateForm.controls['apellido'].touched">
          Apellido es Requerido</mat-error>
          <mat-error class="help-block form-error text-danger small"
          *ngIf="updateForm.controls['apellido'].hasError('minlength') &&updateForm.controls['apellido'].touched">
        Mínimo 3 Letras</mat-error>
        <mat-error class="help-block form-error text-danger small"
        *ngIf="updateForm.controls['apellido'].hasError('maxlength') &&updateForm.controls['apellido'].touched">
      Máximo 3 Letras</mat-error>
      <mat-error class="help-block form-error text-danger small" *ngIf="updateForm.controls['apellido'].hasError('pattern') &&
      updateForm.controls['apellido'].touched">Solo se aceptan letras.</mat-error>
    </mat-form-field>
  </div>
</div>
<div class="row">
  <div class="input-field col s4">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input #correo id="email" class="matfontbolder" matInput placeholder="Correo" [value]="$nombreusuario.correo"
      formControlName="correo">
      <mat-error class="help-block form-error text-danger small"
      *ngIf="updateForm.controls['correo'].hasError('required') && updateForm.controls['correo'].touched">Correo
    es requerido</mat-error>
  </mat-form-field>
</div>
<div class="input-field col s4">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Codigo Estudiante</mat-label>
    <input #codigoestudiante id="codigoestudiante" class="matfontbolder" type="number" matInput placeholder="Codigo Estudiante"
    [value]="$nombreusuario.codigoest" formControlName="codigoestudiante" pattern="^[0-9]+" minlength="7" maxlength="9" >
    <mat-error class="help-block form-error text-danger small"
    *ngIf="updateForm.controls['codigoestudiante'].hasError('required') && updateForm.controls['codigoestudiante'].touched">
  Código estudiante es requerido</mat-error>
  <mat-error class="help-block form-error text-danger small"
  *ngIf="updateForm.controls['codigoestudiante'].hasError('pattern') && updateForm.controls['codigoestudiante'].touched">
Solo números positivos</mat-error>
<mat-error class="help-block form-error text-danger small"
*ngIf="updateForm.controls['codigoestudiante'].hasError('minlength') && updateForm.controls['codigoestudiante'].touched">
Mínimo 7 Números</mat-error>
<mat-error class="help-block form-error text-danger small"
*ngIf="updateForm.controls['codigoestudiante'].hasError('maxlength') && updateForm.controls['codigoestudiante'].touched">
Máximo 7 Números</mat-error>
</mat-form-field>
</div>
</div>
<div>
  <a class="btn waves-effect waves-light red darken-4 " [class.disabled]="!updateForm.valid" (click)="registrarSaldo
  (identificacion.value,saldo.value,codigoestudiante.value,correo.value,
  apellido.value,nombre.value,mytemplate)" mat-raised-button color="primary" name="action">Actualizar</a>
</div>
</form>
</div>
</div>