.caja{
    float: center;
    width: 60%;
    height: 80%;
   
    border: 1px solid gray;
    color: black;
    float: left;
    margin: 20px;
    margin-left: 11%;
    margin-bottom: 30%;
    margin-top: 5.5%;
    text-align: center;
    line-height:#444;
    text-transform: uppercase;
    border:none;
    /* box-shadow: 5px 5px 5px black; */
}

.divInputssrow{
    margin-bottom: 0px !important;
}

img{
    
    text-align: center;
}

.row{
    padding-left: 20px;
    padding-right: 20px;
}
.btn{
    background: red;
    margin-left: 10px;
    margin-bottom: 10px;
}

h5{
    color: slategrey;
}

.logo{
    margin-top: 10px;
}

.checkboxEstamento{
    margin-top: 8px;
    margin-left: 60px;
}

.estamentoCheck{
    margin-right: 20px;
}
.checkboxObligaciones{
    margin-top: -18px;
    margin-left: -46%;
}

.obligacionesCheck{
    margin-right: 40px;
    margin-right: 1%;
}
.checkboxEstrato{
    margin-top: -18px;
    margin-left: -22%;
}

.estratoCheck{
    margin-right: 40px;
    margin-right: 1%;
}

.pagaArriendo{
    margin-left:-53%;
}
.valorArriendo{
    width: 22%!important;
    float: left!important;
    margin-top: -7%!important;
    margin-left: 15%!important;
}
.informacionArriendo{
    width: 21%!important;
    float: left!important;
    margin-top: -2.5%!important;
    margin-left: 58%!important;
}
.informacionGastos{
    width: 26%!important;
    float: left!important;
    margin-top: -6.9%!important;
    margin-left: 36%!important;
}
.quintoCheck{
    margin-top: -11%;
}
.quintoDivCheck{
    margin-left: -37%;
}
.primeraDivision{
    margin-left: 4%;
    margin-bottom: 1.5%;
}
.segundaDivision, .terceraDivision{
    margin-left: 31%;
}
.segundaDivision{
    margin-bottom: 1.5%;
}
.checkboxCuarto{
    margin-left: -28.5%;
}
.areaDescripcion{
    width: 96%;
    margin-top: -2%;
}