<app-navbar></app-navbar>
  <div class="butonMaximizardiv text-end">
    <a mat-fab color="primary" data-aos="fade-left" data-aos-once="true" data-aos-anchor="#formActivador" data-title="Abrir ventana de la postulación" style="position: fixed;right:15px;bottom: 15px;" (click)="verPostuSel(templateverpostulacion)"> <i class="icofont-maximize" style="font-size: 20px;"></i> </a>
  </div>
<div class="cuerpopage cup1" data-aos="fade-down" data-aos-once="true" id="formActivador"> 
<div class="formtiq">
<ng-template #mytemplate>
  <div *ngIf="success" class="dialogSuccess">
    <i class="icofont-ui-check text-center iconSuccessRegister"></i>
    <h2 class="text-center textoSuccess">Registro exitoso </h2>
  </div>
  <div *ngIf="!success" class="dialogSuccess">
    <i class="icofont-close-circled text-center iconErrRegister"></i>
    <h2 class="text-center textoSuccess">Error al Registrar</h2>
  </div>
</ng-template>
<ng-template #templateverpostulacion>

  <ng-template #successactualizacion>
    <div  class="dialogSuccess" >
      <i class="icofont-ui-check text-center iconSuccessRegister"></i>
      <h4 class="text-center textoSuccess">Actualizado exitosamente</h4>

    </div>
  </ng-template>
  <div class="row" data-aos="fade-down" data-aos-once="true" >
    <div class="col-12 text-center">
      <h2 style="display: inline-block;">Estado postulación</h2>
        <a mat-icon-button color="primary" data-title="Cerrar ventana" class="buttonsiguiente" aria-label="Example icon button with a home icon" (click)="minimizar()">
        <i class="icofont-close-circled" style="color:#f44336 !important;font-size: 20px;"></i>
      </a>
    </div>
<!-- COMIENZO COPIADA -->
<div class="pasosestados">
  <div class="paso mrpaso" [ngClass]="circlecolor1">
    <div class="circulopaso">
      <i class="icofont-clock-time iconSearchUser"></i>
    </div>
    <p>En espera</p>
  </div>
  <div class="paso pasoline2 mrpaso" [ngClass]="circlecolor2">
    <div class="circulopaso">
      <i class="icofont-tasks iconSearchUser"></i>
    </div>
    <p>Revisión</p>
  </div>
  <div class="paso pasoline3 mrpaso" [ngClass]="circlecolor3">
    <div class="circulopaso">
      <i class="icofont-address-book iconSearchUser"></i>
    </div>
    <p>Entrevista</p>
  </div>
  <div class="paso pasoline4 mrpaso4" [ngClass]="circlecolor4">
    <div class="circulopaso">
      <i class="icofont-home iconSearchUser"></i>
    </div>
    <p>Visita Domiciliaria</p>
  </div>
  <div class="paso pasoline5" [ngClass]="circlecolor5">
    <div class="circulopaso">
      <i *ngIf="estadopostusel == 1" class="icofont-check-circled iconSearchUser"></i>
      <i *ngIf="estadopostusel == 2" class="icofont-close-circled iconSearchUser"></i>
      <i *ngIf="estadopostusel != 1 && estadopostusel != 2 " class="icofont-spinner iconSearchUser"></i>
    </div>
    <p>Estado final</p>
  </div>
</div>
<div class="infopostusel">
  <div class="row">
  <mat-tab-group mat-align-tabs="start" animationDuration="0ms">
  <mat-tab label="Información postulación" data-aos="fade-down" data-aos-once="true">
    <div class="tabinfopostu">
       <div class="row">
      <div class="col-6">
        <strong>{{postuseltable.consecutivo_postulacion}}</strong> 
        <p>Código postulación : </p>   
        <hr>
        
      </div>
      <div class="col-6">
        <strong>{{postuseltable.fechapostulacion}}</strong>
        <p>Fecha postulación : </p>
        <hr>
        
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <strong>{{postuseltable.estudiante.nombreestudiante}}</strong>
        <p>Nombre estudiante :</p>
        <hr>
         
      </div>
      <div class="col-6">
        <strong>{{postuseltable.estudiante.identificacion}}</strong>
        <p>Identificacición : </p>
        <hr>
        
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <strong>{{postuseltable.semestre}}</strong>
        <p>Semestre : </p>
        <hr>
        
      </div>
      <div class="col-6">
        <strong>{{postuseltable.estrato}}</strong>
        <p>Estrato : </p>
        <hr>
        
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <strong>{{postuseltable.codigoestudiante}}</strong>
        <p>Codigo estudiante : </p>
        <hr>
      </div>
      <div class="col-6">
          <strong>{{postuseltable.carrera}}</strong>
          <p>Carrera : </p>          
        <hr>
      </div>
    </div>
    <div class="col-12">
    <div class="row">
      <div class="col-lg">
            <strong>{{postuseltable.promedio}}</strong>
            <p>Promedio : </p>
      </div>
      <div class="col-lg">
            <form>
              <p>¿Cumple o no cumple el promedio?</p>
              <div class="col-lg" *ngIf="estadopostusel != 4">
                <mat-radio-group  aria-label="Cumple o no cumple" >
                  <mat-radio-button #text1 value="1" color="warn"  [disabled]="estadopostusel != 4"  [checked]="postuseltable.estadopromedio == 1"><i class="icofont-check-circled" style="font-size: 20px;"></i></mat-radio-button>
                  <mat-radio-button #checkdos value="2" color="warn" [disabled]="estadopostusel != 4" [checked]="postuseltable.estadopromedio == 2"><i class="icofont-close-circled" style="font-size: 20px;"></i></mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="col-lg" *ngIf="estadopostusel == 4">
                <mat-radio-group  aria-label="Cumple o no cumple" >
                  <mat-radio-button #text1 value="1" color="warn" (change)="updateEstadoPromedio(text1.value)" [checked]="postuseltable.estadopromedio == 1"><i class="icofont-check-circled" style="font-size: 20px;"></i></mat-radio-button>
                  <mat-radio-button #checkdos value="2" color="warn" (change)="updateEstadoPromedio(checkdos.value)" [checked]="postuseltable.estadopromedio == 2"><i class="icofont-close-circled" style="font-size: 20px;"></i></mat-radio-button>
                </mat-radio-group>
              </div>
            </form>
          </div>
    </div>
    </div>
    <hr>
  </div>
  </mat-tab>
  <mat-tab label="Documentos" *ngIf="estadopostusel != 3" data-aos="fade-down" data-aos-once="true">
    <div class="tabinfopostu ">
      <div class="row">
        <div class="col-lg" *ngFor="let docspostu of documentosFoundpostu">
          <a (click)="downloadPDF(docspostu.archivo,docspostu.nombredoc)" class="buttonsdownloaddoc"><img src="assets/imgs/icopdf.png" alt="icopdf" width="40px">{{docspostu.nombredoc}}</a>
          <hr>
          <div class="checkboxs">
            <mat-radio-group  aria-label="Selecciona si un documento esta correcto" >
              <mat-radio-button #text1 value="1" color="warn" [disabled]="estadopostusel != 4" (change)="checkboxEstados(docspostu.concecutivodoc,text1.value )" [checked]="docspostu.estado == 1">Bien diligenciado</mat-radio-button>
              <mat-radio-button #checkdos value="2" color="warn" [disabled]="estadopostusel != 4" (change)="checkboxEstados(docspostu.concecutivodoc,checkdos.value )" [checked]="docspostu.estado == 2">Mal diligenciado</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12">
          <mat-form-field class="example-full-width" appearance="fill" class="inputsEspacio" style="width: 100%;">
            <mat-label>Observación</mat-label>
            <textarea [(ngModel)]="observacion" [ngModelOptions]="{standalone: true}" matInput placeholder="Contenido" [disabled]="estadopostusel != 4"></textarea>
          </mat-form-field>
        </div>
      </div>  
      <div class="row mb-4">
        <div class="col-12" style="text-align: center;" *ngIf="estadopostusel == 4">
          <a mat-raised-button (click)="actualizarEstadoPostulacion(successactualizacion)">Actualizar estado documentos</a>
          <hr>
        </div>
         <div class="col-12" style="text-align: center;" *ngIf="estadopostusel != 4">
          <a mat-raised-button [disabled]="estadopostusel != 4">Actualizar estado documentos</a>
          <hr>
        </div>
      </div>
    </div>


  </mat-tab>
    <mat-tab label="Entrevista" *ngIf="estadopostusel != 3 && estadopostusel != 4" data-aos="fade-down" data-aos-once="true">
      <div class="tabinfopostu mb-4">
        <div class="row">
          <h1>Entrevista</h1>
          <hr>
          <a mat-stroked-button color="primary" *ngIf="!entrevistvalidate" [routerLink]="['/entrevista', postuseltable.consecutivo_postulacion,postuseltable.idconvo]">Iniciar entrevista</a>
          <a mat-stroked-button color="primary" *ngIf="entrevistvalidate" (click)="verEntrevistaModal(entrevistaPostu)">Ver entrevista</a>
        </div>
    </div>
  </mat-tab>
</mat-tab-group>
 </div>

</div>

<!-- FIN COPIADA -->
  </div>
</ng-template>
<div>
        <button mat-icon-button color="primary"  [routerLink]="['/viewConvocatoria',idConvo]" aria-label="Example icon button with a home icon">
        <i class="icofont-rounded-left" style="color:#f44336 !important;font-size: 20px;"></i>
        <span style="color: black !important;">Regresar</span>
      </button>
<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Información Básica</ng-template>
      <div >
        <h1 class="titulosVisita">Información Básica</h1>
        <!-- Primer paso INICIO -->
        <div class="row">
          <mat-form-field [hidden]="true" class="example-full-width camposInput" appearance="fill" >
            <mat-label>postulacionid</mat-label>
            <input id="postulacionid" matInput [(ngModel)]="postulacionid" placeholder="postulacionid" [value]="postulacionid"  formControlName="postulacionid" type="number">
      </mat-form-field>
          <div class="col-3">
            <mat-form-field class="example-full-width camposInput" appearance="fill" >
              <mat-label>Nombre Estudiante</mat-label>
              <input id="nombreEstudiante" matInput  placeholder="Nombre del estudiante" value="">
        </mat-form-field>
          </div>
          <div class="col-3">
            <div class="col"></div>
     <mat-form-field class="example-full-width camposInput" appearance="fill" >
      <mat-label>Apellido</mat-label>
      <input   matInput placeholder="apellido" value=""  type="text">
  </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field class="example-full-width camposInput" appearance="fill" >
              <mat-label for="codigo">Código</mat-label>
              <input [(ngModel)]="codigo"  id="codigo" matInput placeholder="codigo" [value]="codigo"  formControlName="codigo" type="number">
          </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field class="example-full-width camposInput" appearance="fill" >
              <mat-label for="cedula">Número de documento de identidad</mat-label>
              <input [(ngModel)]="cedula"   id="cedula " matInput placeholder="cedula " [value]="cedula" formControlName="cedula" type="number">
          </mat-form-field>
          </div>

        </div>
        <div class="row mb-4">
          <div class="col-12">
            <h4>Estamento</h4>
            <mat-radio-group [(ngModel)]="estamento" aria-label="Select an option" [ngModelOptions]="{standalone: true}">
                <mat-radio-button class="example-margin estamentoCheck" color="warn" value="Est" [checked]="estamento == 'Estudiante'">Estudiante.</mat-radio-button>
               <mat-radio-button class="example-margin estamentoCheck" color="warn" value="Doc" [checked]="estamento == 'Docente'">Docente.</mat-radio-button>
                <mat-radio-button class="example-margin estamentoCheck" color="warn" value="Empl" [checked]="estamento == 'Empleado'">Empleado.</mat-radio-button>
                <mat-radio-button class="example-margin estamentoCheck" color="warn" value="Trab" [checked]="estamento == 'Trabajador'">Trabajador.</mat-radio-button>
                <mat-radio-button class="example-margin estamentoCheck" color="warn" value="Jub" [checked]="estamento == 'Jubilado'">Jubilado.</mat-radio-button>
                <mat-radio-button class="example-margin estamentoCheck" color="warn" value="Pen" [checked]="estamento == 'Pensionado'">Pensionado.</mat-radio-button>
              </mat-radio-group>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <mat-form-field class="example-full-width camposInput" appearance="fill" >
              <mat-label for="telefono">Teléfono</mat-label>
              <input [(ngModel)]="telefono" matInput formControlName="telefono" id="telefono " [value]="telefono" type="number" class="validate">
          </mat-form-field>

          </div>
          <div class="col-3">
            <mat-form-field class="example-full-width camposInput" appearance="fill">
              <mat-label for="celular">Celular</mat-label>
                  <input matInput [(ngModel)]="celular" formControlName="celular" [value]="celular" id="celular" type="number" class="validate">
          </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field class="example-full-width camposInput" appearance="fill">
              <mat-label for="direccion">Dirección</mat-label>
                  <input matInput [(ngModel)]="direccion" formControlName="direccion" [value]="direccion" id="direccion" type="text" class="validate">                
          </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field class="example-full-width camposInput" appearance="fill">
              <mat-label for="barrio">Barrio</mat-label>
                 <input  matInput [(ngModel)]="barrio" formControlName="barrio" id="barrio" [value]="barrio" type="text" class="validate">
          </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <mat-form-field class="example-full-width camposInput" appearance="fill">
              <mat-label for="comuna">Comuna</mat-label>
                  <input matInput [(ngModel)]="comuna" formControlName="comuna" id="comuna" [value]="comuna" type="number" class="validate">
          </mat-form-field>
          </div>
        </div>
          </div>
      <div>
        <button mat-raised-button color="primary" matStepperNext >Siguiente</button>
      </div>
    </form>
  </mat-step>
    <!-- Fin paso INICIO -->
    <!-- Segundo paso INICIO -->
  <mat-step [stepControl]="secondFormGroup" label="Información SocioEconómica">
    <ng-template matStepLabel>Información SocioEconómica</ng-template>
    <form [formGroup]="secondFormGroup">
      <div >
        <h1 class="titulosVisita">Información SocioEconómica</h1>
        <div class="row">
          <div class="col-6">
            <h3>Nombre de la persona que atendió la entrevista</h3>
            <mat-form-field class="example-full-width camposInput" appearance="fill">
              <mat-label for="nombreatencion">Nombre de la persona que atendió la entrevista</mat-label>
                  <input [(ngModel)]="nombreatencion" matInput formControlName="nombreatencion"  id="nombreatencion" [value]="nombreatencion" type="text" class="validate">
         </mat-form-field>
          </div>
          <div class="col-6">
            <h3>Parentesco</h3>
            <mat-form-field class="example-full-width camposInput" appearance="fill">
              <mat-label for="parentesco">Parentesco</mat-label >
                  <input [(ngModel)]="parentesco"  matInput formControlName="parentesco" id="parentesco" [value]="parentesco" type="text" class="validate">
          </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h3 style="text-align: left; margin-left: 2%;" >1.1   Las obligaciones económicas en su casa son asumidas por:</h3>
            <mat-radio-group [(ngModel)]="obligacion" aria-label="Select an option" [ngModelOptions]="{standalone: true}" >
                <mat-radio-button class="example-margin estamentoCheck" color="warn" value="Solicitante" [checked]="obligacion == 'Solicitante'">Solicitante.</mat-radio-button>
                <mat-radio-button class="example-margin estamentoCheck" color="warn" value="Padre" [checked]="obligacion == 'Padre'">Padre.</mat-radio-button>
                <mat-radio-button class="example-margin estamentoCheck" color="warn" value="Madre" [checked]="obligacion == 'Madre'">Madre.</mat-radio-button>
                <mat-radio-button class="example-margin estamentoCheck" color="warn"  value="Conyúge" [checked]="obligacion == 'Conyúge'">Conyúge.</mat-radio-button>
                <mat-radio-button class="example-margin estamentoCheck" color="warn" value="Otro" [checked]="obligacion == 'Otro'">Otro.</mat-radio-button>
            </mat-radio-group>
              
            <mat-form-field class="example-full-width camposInput" appearance="fill" *ngIf="obligacion == 'Otro'" >
              <mat-label for="cualobligacion">¿Cuál?</mat-label>
                <input [(ngModel)]="cualobligacion"  matInput  id="cualobligacion"  [value]="cualobligacion" type="text" class="validate" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-12">
            <h3 style="text-align: left; margin-left: 2%;" >1.2 Estrato según DANE</h3>
            <mat-radio-group [(ngModel)]="estratodane" aria-label="Select an option" [ngModelOptions]="{standalone: true}">
              <mat-radio-button class="example-margin estratoCheck" color="warn" value="Bajo-Bajo" [checked]="estratodane == 'Bajo-Bajo'">1. Bajo-Bajo</mat-radio-button>
              <mat-radio-button class="example-margin estratoCheck" color="warn" value="Bajo" [checked]="estratodane == 'Bajo'">2. Bajo.</mat-radio-button>
              <mat-radio-button class="example-margin estratoCheck" color="warn" value="Mediano-Bajo" [checked]="estratodane == 'Mediano-Bajo'">3. Mediano-bajo</mat-radio-button>
              <mat-radio-button class="example-margin estratoCheck" color="warn" value="Medio" [checked]="estratodane == 'Medio'">4. Medio</mat-radio-button>
              <mat-radio-button class="example-margin estratoCheck" color="warn" value="Medio-Alto" [checked]="estratodane == 'Medio-Alto'">5. Medio-alto</mat-radio-button>
              <mat-radio-button class="example-margin estratoCheck" color="warn" value="Alto" [checked]="estratodane == 'Alto'">6. Alto</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-6">
            <h3  >1.3 ¿Paga Arriendo? </h3>
            <mat-radio-group [(ngModel)]="pagoarriendo" aria-label="Select an option" [ngModelOptions]="{standalone: true}">
              <mat-radio-button class="example-margin estratoCheck" color="warn" value="Si" [checked]="pagoarriendo == 'Si'" >Si</mat-radio-button>
              <mat-radio-button class="example-margin estratoCheck" color="warn" value="No" [checked]="pagoarriendo == 'No'">No</mat-radio-button>
              <mat-form-field class="example-full-width camposInput" appearance="fill" *ngIf="pagoarriendo == 'Si'">
                  <mat-label  for="valorarriendo">¿Valor arriendo?</mat-label >
                      <!--<input [(ngModel)]="valorarriendo"  matInput formControlName="valorarriendo" id="valorarriendo" [value]="valorarriendo"  type="text" class="validate">-->
                      <input [(ngModel)]="valorarriendo"  matInput  id="valorarriendo" [value]="valorarriendo" value=""  type="text" class="validate" [ngModelOptions]="{standalone: true}">
              </mat-form-field>
            </mat-radio-group>
          </div>
          <div class="col-6">
            <h3 >¿Qué cubre el arriendo? </h3>
<!--             <mat-radio-group [(ngModel)]="cubrearriendo" aria-label="Select an option" [ngModelOptions]="{standalone: true}">
              <mat-radio-button class="example-margin estratoCheck" color="warn" value="Cuarto" [checked]="cubrearriendo == 'Cuarto'">Cuarto</mat-radio-button>
              <mat-radio-button class="example-margin estratoCheck" color="warn" value="Alimentación" [checked]="cubrearriendo == 'Alimentación'">Alimentación</mat-radio-button>
            </mat-radio-group> -->
              <mat-checkbox [ngModelOptions]="{standalone: true}"  [checked]="checkboxarriendo[0].selected"  [(ngModel)]="checkboxarriendo[0].selected" (change)="onChange($event)" class="example-margin" color="warn" value="Cuarto">Cuarto</mat-checkbox>
              <mat-checkbox [ngModelOptions]="{standalone: true}" [checked]="checkboxarriendo[1].selected" [(ngModel)]="checkboxarriendo[1].selected" (change)="onChange($event)" class="example-margin" color="warn" value="Alimentación">Alimentación</mat-checkbox>
            <mat-form-field class="example-full-width camposInput" appearance="fill">
              <mat-label  for="otroarriendo">Otros</mat-label >
                  <!--<input [(ngModel)]="otroarriendo"  matInput formControlName="otroarriendo" id="otroarriendo"  [value]="otroarriendo" type="text" class="validate">-->
                  <input [(ngModel)]="otroarriendo"  matInput  id="otroarriendo"  [value]="otroarriendo" type="text" class="validate" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-12" style="margin-bottom: 2%;">
            <h3 style="text-align: left; margin-left: 2%;" >1.4 Fuentes de ingreso del solicitante</h3>
            <mat-radio-group [(ngModel)]="fuenteingreso" aria-label="Select an option" [ngModelOptions]="{standalone: true}">
              <mat-radio-button class="example-margin estratoCheck" color="warn" value="Trabajo" [checked]="fuenteingreso == 'Trabajo'">Trabajo</mat-radio-button>
              <mat-radio-button class="example-margin estratoCheck" color="warn" value="Familia"[checked]="fuenteingreso == 'Familia'" >Familia</mat-radio-button>
              <mat-radio-button class="example-margin estratoCheck" color="warn" value="Otros" [checked]="fuenteingreso == 'Otros'">Otros</mat-radio-button>
            </mat-radio-group>
            <mat-form-field class="example-full-width camposInput" appearance="fill" *ngIf="fuenteingreso == 'Otros'" >
              <mat-label  for="cualfuente">¿Cuáles?</mat-label >
                  <!--<input [(ngModel)]="cualfuente"  matInput formControlName="cualfuente" id="cualfuente" [value]="cualfuente" type="text" class="validate">-->
                  <input [(ngModel)]="cualfuente"  matInput  id="cualfuente" [value]="cualfuente" type="text" class="validate" [ngModelOptions]="{standalone: true}">
          </mat-form-field>  
          </div>
        </div>
        <hr>
      </div>
      <div>
        <button mat-raised-button color="primary" matStepperPrevious style="margin-right: 5%;">Atras</button>
        <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>
  <!-- Segundo paso FIN -->
  <!-- Tercer paso INICIO -->
  <mat-step [stepControl]="thirdFormGroup" label="Vivienda">
    <ng-template matStepLabel>Vivienda</ng-template>
    <form [formGroup]="thirdFormGroup">
      <div >
        <h2  class="titulosVisita" >2. Características de la vivienda</h2>
        <div class="row">
          <h3 >2.1</h3>
          <div class="col-12">
            <strong>Tipo: </strong>
            <mat-radio-group [(ngModel)]="tipocasa" aria-label="Select an option" [ngModelOptions]="{standalone: true}">
                <mat-radio-button class="example-margin estratoCheck" color="warn" value="Casa"  [checked]="tipocasa == 'Casa'">Casa</mat-radio-button>
                <mat-radio-button class="example-margin estratoCheck" color="warn" value="Apartamento" [checked]="tipocasa == 'Apartemento'">Apartemento</mat-radio-button>
                <mat-radio-button class="example-margin estratoCheck" color="warn" value="Cuarto" [checked]="tipocasa == 'Cuarto'">Cuarto</mat-radio-button>
              </mat-radio-group>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-12">

          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <strong>Aspecto físico: </strong>
            <mat-radio-group [(ngModel)]="aspectocasa"  aria-label="Select an option" [ngModelOptions]="{standalone: true}">
                <mat-radio-button class="example-margin estratoCheck" color="warn" value="Terminado" [checked]="aspectocasa == 'Terminado'">Terminado</mat-radio-button>
                <mat-radio-button class="example-margin estratoCheck" color="warn" value="Obra Negra" [checked]="aspectocasa == 'Obra negra'">Obra negra</mat-radio-button>
                <mat-radio-button class="example-margin estratoCheck" color="warn" value="En Construcción" [checked]="aspectocasa == 'En construcción'">En construcción</mat-radio-button>
                <mat-radio-button class="example-margin estratoCheck" color="warn" value="Remodelación" [checked]="aspectocasa == 'Remodelación'">Remodelación</mat-radio-button>
                <mat-radio-button class="example-margin estratoCheck" color="warn" value="otrosAspecto" [checked]="aspectocasa == 'Otro'" >Otro</mat-radio-button>
              </mat-radio-group>
            <mat-form-field class="example-full-width camposInput" appearance="fill" *ngIf="fuenteingreso == 'Otro'" >
                <mat-label for="cualaspecto">¿Cuáles?</mat-label>
                <!--<input  [(ngModel)]="cualaspecto"  matInput formControlName="cualaspecto" id="cualaspecto" [value]="cualaspecto" type="text" class="validate">-->
                <input  [(ngModel)]="cualaspecto"  matInput  id="cualaspecto" [value]="cualaspecto" type="text" class="validate" [ngModelOptions]="{standalone: true}">
           </mat-form-field>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-12">
            <strong>Servicios públicos: </strong>
<!--             <mat-radio-group [(ngModel)]="serviciopublico"   aria-label="Select an option" [ngModelOptions]="{standalone: true}">
                <mat-radio-button class="example-margin estratoCheck" color="warn" value="Agua" [checked]="serviciopublico == 'Agua'">Agua</mat-radio-button>
                <mat-radio-button class="example-margin estratoCheck" color="warn" value="Energía" [checked]="serviciopublico == 'Energía'">Energía</mat-radio-button>
                <mat-radio-button class="example-margin estratoCheck" color="warn" value="Alcantarillado" [checked]="serviciopublico == 'Alcantarillado'">Alcantarillado</mat-radio-button>
                <mat-radio-button class="example-margin estratoCheck" color="warn" value="Teléfono" [checked]="serviciopublico == 'Teléfono'">Teléfono</mat-radio-button>
                <mat-radio-button class="example-margin estratoCheck" color="warn" value="Gas Domiciliario" [checked]="serviciopublico == 'Gas Domiciliario'">Gas Domiciliario</mat-radio-button>
              </mat-radio-group> -->

              <mat-checkbox [ngModelOptions]="{standalone: true}"  [checked]="checkboxservicios[0].selected"  [(ngModel)]="checkboxservicios[0].selected" (change)="onChangeServicios($event)" class="example-margin" color="warn" value="Cuarto">Agua</mat-checkbox>

              <mat-checkbox [ngModelOptions]="{standalone: true}" [checked]="checkboxservicios[1].selected" [(ngModel)]="checkboxservicios[1].selected" (change)="onChangeServicios($event)" class="example-margin" color="warn" value="Alimentación">Energía</mat-checkbox>

              <mat-checkbox [ngModelOptions]="{standalone: true}" [checked]="checkboxservicios[2].selected" [(ngModel)]="checkboxservicios[2].selected" (change)="onChangeServicios($event)" class="example-margin" color="warn" value="Alimentación">Alcantarillado</mat-checkbox>

              <mat-checkbox [ngModelOptions]="{standalone: true}" [checked]="checkboxservicios[3].selected" [(ngModel)]="checkboxservicios[3].selected" (change)="onChangeServicios($event)" class="example-margin" color="warn" value="Alimentación">Teléfono</mat-checkbox>

              <mat-checkbox [ngModelOptions]="{standalone: true}" [checked]="checkboxservicios[4].selected" [(ngModel)]="checkboxservicios[4].selected" (change)="onChangeServicios($event)" class="example-margin" color="warn" value="Alimentación">Gas Domiciliario</mat-checkbox>
              
          </div>
        </div>
        <hr>
        <div class="row mt-4">
          <div class="col-12">
            <h3 >2.2 Cuarto del solicitante</h3>
            <mat-radio-group [(ngModel)]="cuartosolicitante"  aria-label="Select an option" [ngModelOptions]="{standalone: true}">
              <mat-radio-button class="example-margin estratoCheck" color="warn" value="Solo" [checked]="cuartosolicitante == 'Solo'">Solo</mat-radio-button>
              <mat-radio-button class="example-margin estratoCheck" color="warn" value="Compartido" [checked]="cuartosolicitante == 'Compartido'">Compartido</mat-radio-button>
            </mat-radio-group>
              <mat-form-field class="example-full-width camposInput" appearance="fill" *ngIf="fuenteingreso == 'Compartido'">
                  <mat-label for="cantidadpersonas">¿Con cuántas personas?</mat-label>
                  <!--<input [(ngModel)]="cantidadpersonas"  matInput formControlName="cantidadpersonas" id="cantidadpersonas" [value]="cantidadpersonas" type="number" class="validate">-->
                  <input [(ngModel)]="cantidadpersonas"  matInput  id="cantidadpersonas" [value]="cantidadpersonas" type="number" class="validate" [ngModelOptions]="{standalone: true}">
             </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <mat-form-field class="example-full-width areaDescripcion" style="width:100%;" >
              <mat-label for="descripcionfinal" > Descripción</mat-label>
              <textarea [(ngModel)]="descripcionfinal"  matInput formControlName="descripcionfinal" id="descripcionfinal" [value]="descripcionfinal" type="text" class="validate" placeholder="Este es un ejemplo.."></textarea>
            </mat-form-field>
          </div>
        </div>
        </div>
        <div>
          <button mat-raised-button color="primary" matStepperPrevious style="margin-right: 5%;">Regresar</button>
          <button mat-raised-button color="primary" (click)="stepper.reset()" style="margin-right: 5%;">Resetear</button>
          <button mat-raised-button color="warn" (click)="registroVisita(mytemplate)">Registrar</button>
        </div>
    </form>
  </mat-step>
  <!-- Tercer paso FIN -->
</mat-horizontal-stepper>
  </div>

</div>
</div>


