.rowViewPostest{
	padding-top: 5%;
	margin-left:11%;
}

.icoqr{
	color: black !important;
	font-size: 25px;
	cursor: pointer;
}

[data-title]:hover:after {
	opacity: 1;
	transition: all 0.5s;
	visibility: visible;
}

[data-title]:after {
	content: attr(data-title);
	background-color: #333;
	color: #fff;
	font-size: 14px;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	font-weight: 500;
	position: absolute;
	padding: 3px 20px;
	bottom: -1.6em;
	left: 100%;
	white-space: nowrap;
	box-shadow: 1px 1px 3px #222222;
	opacity: 0;
	border: 1px solid #111111;
	z-index: 99999;
	visibility: hidden;
	border-radius: 6px;
	
}
[data-title] {
	position: relative;
}