<app-navbar></app-navbar>
<div class="row cartaBienvenida">
    <div class="col s4">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        Bienvenido usuario : {{this.$nombreusuario.nombre + ' ' +  this.$nombreusuario.apellido + ' '}}
                    </div>
                </div>
            </div>
            <div class="col s12">
                <div class="card   ">
                    <div class="card-content">
                        Hoy se han postulado 26 estudiantes a 2 convocatorias
                    </div>
                </div>
            </div>
            <div class="col s12">
                <div class="card   ">
                    <div class="card-content">
                        Hay 1200 estudiantes registrados en la app
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <div class="col s8"*ngIf="this.$nombreusuario.rol =='1'">
       <div class="card">
           <div class="card-content">
            <h1>Postulaciones Realizadas</h1>
            <table>
                   <thead>
                     <tr>
                         <th>PostuId</th>
                         <th>Beca</th>
                         <th>Estado</th>
                     </tr>
                   </thead>
           
                   <tbody>
                     <tr>
                       <td>1</td>
                       <td>Almuerzo</td>
                       <td>Rechazado</td>
                     </tr>
                     <tr>
                       <td>2</td>
                       <td>Almuerzo</td>
                       <td>En espera</td>
                     </tr>
                   </tbody>
                 </table>
           </div>
       </div>
    </div>
    <div class="col s8"*ngIf="this.$nombreusuario.rol =='2'">
        <div class="card">
            <div class="card-content">
             <h1>Últimas Convocatorias Realizadas</h1>
             <table>
                    <thead>
                      <tr>
                          <th>Nombre</th>
                          <th>Cupos</th>
                          <th>Periodo</th>
                          <th>Tiempo Restante</th>
                          <th> Ver Información</th>    
                      </tr>
                    </thead>
            
                    <tbody>
                      <tr>
                        <td>Almuerzo</td>
                        <td>100</td>
                        <td>2020-1</td>
                        <td>20 Dia(s)</td>
                        <td> <a [routerLink]="['/viewConvocatoria', 1]" > <i class="icofont-search-2"></i></a></td>
                      </tr>
                      <tr>
                        <td>Refrigerio</td>
                        <td>34</td>
                        <td>2020-1</td>
                        <td>20 Dia(s)</td>
                        <td> <a [routerLink]="['/viewConvocatoria', 2]" > <i class="icofont-search-2"></i></a></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
     </div>

</div>