<app-navbar></app-navbar>
    <div>
     <ng-template #myTemplate>
        <div class="row">
          <div class="row">
            <div class="col-lg col-6">
              <h1>ACTUALIZA TUS DATOS</h1>
            </div>
          </div>
          <hr>
          <div class="col-lg col">
              <form class="col-12" [formGroup]="updateForm" novalidate>
                <div class="row">
                  <div class="input-field col-lg">
                    <h4>Identificación</h4>
                    <mat-form-field class="example-full-width" disabled appearance="fill">
                      <mat-label>Identificación</mat-label>
                      <input [(ngModel)]="$nombreusuario.identi" class="matfontbolder" id="identificacion" disabled matInput placeholder="Identificacion" type="number"
                      [value]="$nombreusuario.identi" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col-lg">
                    <h4>Nombre</h4>
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Nombre</mat-label>
                      <input [(ngModel)]="$nombreusuario.nombre" id="nombre" class="matfontbolder" matInput type="text" placeholder="Nombre" [value]="$nombreusuario.nombre"
                      formControlName="nombre"  >
                      <mat-error class="help-block form-error text-danger small" *ngIf="updateForm.controls['nombre'].hasError('required') &&
                      updateForm.controls['nombre'].touched">Nombre es requerido</mat-error>
                      <mat-error class="help-block form-error text-danger small" *ngIf="updateForm.controls['nombre'].hasError('minlength') &&
                      updateForm.controls['nombre'].touched">Mínimo 3 letras</mat-error>
                      <mat-error class="help-block form-error text-danger small" *ngIf="updateForm.controls['nombre'].hasError('maxlength') &&
                      updateForm.controls['nombre'].touched">Máximo 30 letras</mat-error>
                      <mat-error class="help-block form-error text-danger small" *ngIf="updateForm.controls['nombre'].hasError('maxlength') &&
                      updateForm.controls['nombre'].touched">Máximo 30 letras</mat-error>
                      <mat-error class="help-block form-error text-danger small" *ngIf="updateForm.controls['nombre'].hasError('pattern') &&
                      updateForm.controls['nombre'].touched">Solo se aceptan letras.</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="input-field col-lg">
                    <h4>Apellido</h4>
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Apellido</mat-label>
                      <input [(ngModel)]="$nombreusuario.apellido" class="matfontbolder" id="apellido" matInput placeholder="Apellido" [value]="$nombreusuario.apellido"
                      formControlName="apellido" >
                      <mat-error class="help-block form-error text-danger small"
                      *ngIf="updateForm.controls['apellido'].hasError('required') &&updateForm.controls['apellido'].touched">
                    Apellido es Requerido</mat-error>
                    <mat-error class="help-block form-error text-danger small"
                    *ngIf="updateForm.controls['apellido'].hasError('minlength') &&updateForm.controls['apellido'].touched">
                  Mínimo 3 Letras</mat-error>
                  <mat-error class="help-block form-error text-danger small"
                  *ngIf="updateForm.controls['apellido'].hasError('maxlength') &&updateForm.controls['apellido'].touched">
                Máximo 3 Letras</mat-error>
                <mat-error class="help-block form-error text-danger small" *ngIf="updateForm.controls['apellido'].hasError('pattern') &&
                updateForm.controls['apellido'].touched">Solo se aceptan letras.</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="input-field col-lg">
              <h4>Email</h4>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input [(ngModel)]="$nombreusuario.correo" id="email" class="matfontbolder" matInput placeholder="Correo" [value]="$nombreusuario.correo"
                formControlName="correo" >
                <mat-error class="help-block form-error text-danger small"
                *ngIf="updateForm.controls['correo'].hasError('required') && updateForm.controls['correo'].touched">Correo
              es requerido</mat-error>
            </mat-form-field>
          </div>
          <div class="input-field col-lg">
            <h4>Contraseña</h4>
          <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input matInput #contrasena type="password" placeholder="Password" formControlName="password" required>
          </mat-form-field>
          </div>
          </div>
          <div class="row">
            <div class="input-field col-lg">
              <h4>Estrato</h4>
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>{{$nombreusuario.estrato}} </mat-label>
              <mat-select [(ngModel)]="$nombreusuario.estrato" [ngModelOptions]="{standalone: true}">
                <mat-option value="1">1</mat-option>
                <mat-option value="2">2</mat-option>
                <mat-option value="3">3</mat-option>
                <mat-option value="4">4</mat-option>
                <mat-option value="5">5</mat-option>
                <mat-option value="6">6</mat-option>
              </mat-select>
            </mat-form-field>
            </div>
            <div class="input-field col-lg">
              <h4>Zona Residencial</h4>
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>{{$nombreusuario.zonaresidencial}}</mat-label>
                <mat-select [(ngModel)]="$nombreusuario.zonaresidencial" [ngModelOptions]="{standalone: true}">
                  <mat-option value="Rural">Rural</mat-option>
                  <mat-option value="Urbana">Urbana</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
          <div class="input-field col-lg" style="padding:0;">
            <h4>Fecha Nacimiento</h4>
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Fecha de nacimiento</mat-label>
              <input matInput [(ngModel)]="$nombreusuario.fechanacimiento" [matDatepicker]="picker" [ngModelOptions]="{standalone: true}">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <strong ><h5 style="margin-top: -8%;margin-bottom: 10%;">Fecha Actual: {{fechanacimiento}}</h5></strong>
            </div>
            <div class="input-field col-lg" style="line-height: 4.3;">
                    <h4>Dirección</h4>
                    <mat-form-field appearance="fill" class="example-full-width">
                      <mat-label>{{$nombreusuario.direccion}}</mat-label>
                      <input matInput formControlName="direccion" [(ngModel)]="$nombreusuario.direccion" id="direccion" type="text" class="validate">
                    </mat-form-field>
                  </div>
          </div>
            <div *ngIf="!updateForm.valid">
              <a class="btn waves-effect waves-light red darken-4 " [disabled]="true" mat-raised-button color="primary" name="action">Actualizar</a>
            </div>
            <div *ngIf="updateForm.valid">
              <a class="btn waves-effect waves-light red darken-4 " [class.disabled]="!updateForm.valid" (click)="actualizarUsuario
              (contrasena.value,0)" mat-raised-button color="primary" name="action">Actualizar</a>
              <a mat-stroked-button color="primary" (click)="actualizarUsuario
                  (contrasena.value,1)">Mis datos son correctos.</a>
            </div>
          </form>
          </div>
        </div>
      </ng-template>
    </div>
<ng-template #templatePeriodo>
  <ng-template #errorRegistrarPeriodo>
    <div  class="dialogSuccess" >
      <i class="icofont-ui-close text-center iconSuccessRegister"></i>
      <h2 class="text-center textoSuccess">Error al registrar el periodo</h2>
    </div>
  </ng-template>

  <ng-template #periodoexitoso>
    <div  class="dialogSuccess" >
      <i class="icofont-ui-close text-center iconSuccessRegister"></i>
      <h2 class="text-center textoSuccess">Periodo creado exitosamente</h2>
    </div>
  </ng-template>
  <ng-template #mytemplate>
    <div *ngIf="success" class="dialogSuccess">
      <i class="icofont-ui-check text-center iconSuccessRegister"></i>
      <h2 class="text-center textoSuccess">Actualizado exitosamente</h2>
    </div>
    <div *ngIf="!success" class="dialogSuccess">
      <i class="icofont-close-circled text-center iconErrRegister"></i>
      <h2 class="text-center textoSuccess">Error al actualizar</h2>
    </div>
  </ng-template>


  <div  class="dialogSuccess" style="overflow-x: hidden;">

    <div >
      <div >
        <div class="text-right divbotonexit">
          <a class="buttonCerrarse" data-title="Cerrar sesión" (click)="cerrarSesion()"><i class="icofont-exit iconexitperiodo"></i></a>
        </div>
        <h1>REGISTRAR UN PERIODO ACADÉMICO</h1>

        <hr>

        <form [formGroup]="formularioRegistrarPeriodo">
          <div class="row">
            <div class="col-12">
              <h4>Descripción</h4>
              <mat-form-field class="example-full-width" appearance="fill" class="inputsEspacio" style="width: 100%;">
                <mat-label>EJ: 2021-1</mat-label>
                <input matInput #descripcion formControlName="descripcionperiodo" id="icon_prefix" type="text" class="validate">
              </mat-form-field>
              <mat-error class="help-block form-error text-danger small"
              *ngIf="formularioRegistrarPeriodo.controls['descripcionperiodo'].hasError('required') && formularioRegistrarPeriodo.controls['descripcionperiodo'].touched">
            La descripción es requerida </mat-error>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
          <h4>Selecciona las fechas del periodo</h4>
						<mat-form-field appearance="fill" class="inputFechas" style="width: 100%;">
						<mat-label>Selecciona las fechas del periodo</mat-label>
						<mat-date-range-input [rangePicker]="picker">
						<input matStartDate #fechaini class="inputFechaIni" placeholder="Fecha incial" formControlName="fechasperiodoini">
						<input matEndDate #fechafin placeholder="Fecha final" formControlName="fechasperiodofin">
						</mat-date-range-input>
						<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-date-range-picker #picker></mat-date-range-picker>
						</mat-form-field>
            <mat-error class="help-block form-error text-danger small"
              *ngIf="formularioRegistrarPeriodo.controls['fechasperiodoini'].hasError('required') && formularioRegistrarPeriodo.controls['fechasperiodoini'].touched">
            La fecha inicial es requerida </mat-error>
            <mat-error class="help-block form-error text-danger small"
              *ngIf="formularioRegistrarPeriodo.controls['fechasperiodofin'].hasError('required') && formularioRegistrarPeriodo.controls['fechasperiodofin'].touched">
            La fecha fin es requerida </mat-error>
        </div>


      </div>
      <div class="row center">
        <div class="col-12">
          <a mat-raised-button color="primary" disabled="true" *ngIf="!formularioRegistrarPeriodo.valid" ><i class="icofont-save left"></i>Registrar Postulacion</a>
          <a mat-raised-button color="primary" (click)="registrarPeriodo(descripcion.value,fechaini.value,fechafin.value,errorRegistrarPeriodo,periodoexitoso)" *ngIf="formularioRegistrarPeriodo.valid" ><i class="icofont-save left"></i>Registrar Postulacion</a>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
</ng-template>
<div class="row cartaBienvenida">
  <div class="homeestudiante" *ngIf="this.$nombreusuario.rol =='1'">
          <div class="col-sm-12 text-center" *ngIf="anunciosActual == null">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="assets/imgs/banner1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="assets/imgs/banner2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="assets/imgs/banner3.jpg" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <div class="col-sm-12 text-center" *ngIf="anunciosActual != null">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions"  *ngIf="cantAnuncios == 2 || cantAnuncios == 3" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button"  data-bs-target="#carouselExampleCaptions"  *ngIf="cantAnuncios == 3" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active" >
                  <img class="d-block w-100" [src]="'data:image/jpg;base64,' + anunciosActual[0].img"  alt="First slide">
                  <div class="carousel-caption d-none d-md-block">
                    <p>Ingresa aqui: <a href="{{anunciosActual[0].link}}" mat-raised-button color="primary"> {{anunciosActual[0].link}}</a></p>
                  </div>
                </div>
                <div class="carousel-item" *ngIf="cantAnuncios == 2 || cantAnuncios == 3">
                  <img class="d-block w-100" [src]="'data:image/jpg;base64,' + anunciosActual[1].img" alt="Second slide">
                  <div class="carousel-caption d-none d-md-block">
                    <p>Ingresa aqui: <a href="{{anunciosActual[1].link}}" mat-raised-button color="primary">{{anunciosActual[1].link}}</a></p>
                  </div>
                </div>
                <div class="carousel-item" *ngIf="cantAnuncios == 3">
                  <img class="d-block w-100" [src]="'data:image/jpg;base64,' + anunciosActual[2].img" alt="Third slide">
                  <div class="carousel-caption d-none d-md-block">
                    <p>Ingresa aqui: <a href="{{anunciosActual[2].link}}" mat-raised-button color="primary">  {{anunciosActual[2].link}}</a></p>
                  </div>
                </div>
              </div>

              <button class="carousel-control-prev" *ngIf="cantAnuncios == 2 || cantAnuncios == 3" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" *ngIf="cantAnuncios == 2 || cantAnuncios == 3" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
              
            </div>
           </div>
    <!-- CONVOCATORIAS ACTIVAS -->
    <div class="col mt-4" data-aos="fade-down" data-aos-once="true">
      <div class="col-lg px-3">
        <h1>CONVOCATORIAS OFERTADAS ACTUALMENTE</h1>
        <hr>
      </div>
      <div class="col-lg text-center" *ngIf="convoActivas != null">
        <div class="card m-2 cardsconvos" style="width: 18rem;display: inline-block;transition: all 0.2s ease;" *ngFor="let convoact of convoActivas"> 
          <div class="card-body">
            <h3 class="card-title">{{convoact.beca}}</h3>
            <hr>
             <h4 class="card-subtitle mb-2">Periodo: <strong>{{convoact.periodonombre}}</strong></h4>
            <h4 class="card-subtitle mb-2">Fechas: <strong>{{convoact.fechainicio}} al {{convoact.fechafin}}</strong></h4>
            <h4 class="card-subtitle mb-2">Cantidad de cupos: <strong>{{convoact.cupos}}</strong></h4>
            <hr>
            <a mat-stroked-button routerLink="/registrarPostulacion">Postularse</a>
          </div>
        </div>
      </div>
      <div class="col-lg" *ngIf="convoActivas == null">
        <h4>No hay convocatorias activas actualmente</h4>
      </div>
    </div>
    <div data-aos="zoom-in-down" data-aos-once="true" class="info" id="infotextid">
      <div class="titlediv">
        <h1 class="titlesigbe">¿QUÉ ES SIGBE?</h1>
      </div>
      <div>
        <div class="divimginfo">
          <img src="assets/imgs/uv.png" style="width: 13vw;">
        </div>
        <div class="divinfotext">
          <p>El sistema de información para la gestión de becas o llamado por sus siglas "SIGBE" es un proyecto desarrollado por los estudiantes Alejandro Ospina Escobar, William Felipe Rueda Bejarano y Gustavo Adolfo Quintero Vergara de la Universidad del Valle sede Palmira, el sistema 
             lo que busca es ayudar al área de Bienestar Universitaria y
             los estudiantes en los procesos de convocatorias, visitas y las postulaciones
             entre otras ayudas a sus respectivos usuarios.
             Aparte también contamos con el manejo de la reserva de tickets
             de almuerzo y refrigerio permitiendo que desde la aplicación móvil o desde cualquier
             computador los estudiantes puedan acceder a reservar tickets
             sin la necesidad de hacer filas innecesarias.
 
             El sistema empezó como un proyecto más, pero como grupo de trabajo
             quisimos hacer el mejor trabajo posible en el tiempo de desarrollo que 
             tuvimos disponibles para brindarles un excelente servicio a toda 
             el área universitaria.
          </p>            
          
        </div>
      </div>
      
    </div>
    <div data-aos="zoom-in-down" data-aos-once="true" class="info" id="infoprogramass">
      <div class="titlediv">
        <h1 class="titlesigbe">APOYOS DE BIENESTAR UNIVERSITARIO</h1>
      </div>
      <div class="apoyosinfo">
        <div class="apoyoinfo apoyoinfo1">
          <div class="cardimgs">
            <img src="assets/imgs/uv.png" width="40px">
          </div>
          <div class="cardtexts">
            Programa de jóvenes en acción
          </div>
        </div>
        <div  class="apoyoinfo apoyoinfo2">
          <div class="cardimgs">
            <img src="assets/imgs/uv.png" width="40px">
          </div>
          <div class="cardtexts">
            Monitorias especiales para estudiantes en situación de discapacidad
          </div>
        </div>
        <div  class="apoyoinfo apoyoinfo3">
          <div class="cardimgs">
            <img src="assets/imgs/uv.png" width="40px">
          </div>
          <div class="cardtexts">
            Beca de alimentos para estudiantes de escasos recursos
          </div>
        </div>
        <div  class="apoyoinfo apoyoinfo4">
          <div class="cardimgs">
            <img src="assets/imgs/uv.png" width="40px">
          </div>
          <div class="cardtexts">
            Subsidio socioeconómico para estudiantes de escasos recursos
          </div>
        </div>
        <div  class="apoyoinfo apoyoinfo5">
          <div class="cardimgs">
            <img src="assets/imgs/uv.png" width="40px">
          </div>
          <div class="cardtexts">
            Bono estudiantil
          </div>
        </div>
      </div>
      <div class="divbuttonconocemas">
        <a class="buttonconocemas" href="https://sites.google.com/correounivalle.edu.co/bienestar-universitario/secci%C3%B3n-de-desarrollo-humano-y-promoci%C3%B3n-socioeconomica?authuser=0" target="_blank">Conoce más</a>
      </div>
      
    </div>
    
  </div>


  <div class="col-12 mb-2" *ngIf="this.$nombreusuario.rol !='1'">
    <div class="wrap ">
      <div class="row rowpanelbienestar" data-aos="zoom-in-down" data-aos-once="true">
        <div class="col-12">
          <h1 *ngIf="this.$nombreusuario.rol =='2'">PANEL ADMINISTRATIVO - Bienestar Universitario</h1>
          <h1 *ngIf="this.$nombreusuario.rol =='4'">PANEL ADMINISTRATIVO - Psicología</h1>
          <h1 *ngIf="this.$nombreusuario.rol =='5'">PANEL ADMINISTRATIVO - Monitoria</h1>
          <hr>
        </div>
        <div class="row col-12" *ngFor="let infocol of infoColores">
          <div class="col-4 infoblue">
            <div class="imginfocount">
             <i class="icofont-attachment iconinfocount"></i>
           </div>
           <div class="infocount">
            <h1>{{infocol.numeropostu}}</h1>
            <span>POSTULACIONES HECHAS</span>
          </div>
        </div>
        <div class="col-4 infogreen">
          <div class="imginfocount">
           <i class="icofont-group-students iconinfocount"></i>
         </div>
         <div class="infocount">
          <h1>{{infocol.numerouser}}</h1>
          <span>USUARIOS REGISTRADOS</span>
        </div>
      </div>
      <div class="col-4 infoyellow">
        <div class="imginfocount">
          <i class="icofont-calendar iconinfocount"></i>
        </div>
        <div class="infocount">
          <h1>{{infocol.numeroconvo}}</h1>
          <span>CONVOCATORIAS REALIZADAS </span>
        </div>
      </div>
      <div class="col-4 infored">
        <div class="imginfocount">
         <i class="icofont-ticket iconinfocount"></i>
       </div>
       <div class="infocount">
        <h1>{{infocol.numerotickets}}</h1>
        <span>TIQUETES RESERVADOS</span>
      </div>
    </div>

  </div>
</div>

<br>
<div class="row col-12 rowpanelbienestargrafica" data-aos="zoom-in-down" data-aos-once="true">
  <div class="col-7 graficainfo">
    <div class="titulografica">
      <h1>POSTULACIONES POR ZONAS RESIDENCIALES</h1>
    </div>
    <div class="imggrafica">
       <canvas id="realtime">{{ chart }}</canvas>
      <!-- <img src="assets/imgs/grafica.png" width="560px"> -->
    </div>
  </div>

  <div class="col-4 tablainfopostus">
    <div class="titulografica">
      <h1>USUARIOS INACTIVOS</h1>
    </div>
    
    <table class="table table-bordered table-striped mb-0">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Estrato</th>
          <th scope="col">Tipo beca</th>
          <th scope="col">Revisión</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let postus of  postulaciones">
          <th scope="row">{{postus.nombre}}</th>
          <td>{{postus.estrato}}</td>
          <td>{{postus.convocatoria}}</td>
          <td>{{postus.estado}}</td>
          <td><a (click)="buscarEstPostuByIden(mytemplate)"><i class="icofont-ui-search iconSearchUser"></i></a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row col-12 rowpanelbienestargrafica mt-4" data-aos="zoom-in-down" data-aos-once="true">
    <div class="col-7 graficainfo">
    <div class="titulografica">
      <h1>POSTULACIONES POR CARRERA Y BECA</h1>
    </div>
    <div>
<!--       <div class="center">
      <button  mat-raised-button color="primary" (click)="crearImagen()">Descargar</button>
    </div> -->
      <form>
        <mat-form-field appearance="fill" class="inputsEspacio" style="width: 80%;">
            <mat-label>Seleccione una Beca</mat-label>
            <mat-select #beca required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let beca of listbecas" [value]="beca.consecutivo_beca">
                {{beca.descripcion}}
              </mat-option>
            </mat-select>
        </mat-form-field>
            <a mat-raised-button color="primary" style="width: 20%;" (click)="consultarPostuCarrera(beca.value)">Consultar</a>
      </form>
    </div>
    <div id="graficacarrerabeca" class="imggrafica">
       <canvas id="postus">{{ chartCarreras }}</canvas>
      <!-- <img src="assets/imgs/grafica.png" width="560px"> -->
    </div>
  </div>
    </div>
  </div>
</div>