<app-navbar></app-navbar>
<ng-template #templatePeriodo>
  <ng-template #errorRegistrarPeriodo>
    <div  class="dialogSuccess" >
      <i class="icofont-ui-close text-center iconSuccessRegister"></i>
      <h2 class="text-center textoSuccess">Error al registrar el periodo</h2>
    </div>
  </ng-template>

  <ng-template #periodoexitoso>
    <div  class="dialogSuccess" >
      <i class="icofont-ui-close text-center iconSuccessRegister"></i>
      <h2 class="text-center textoSuccess">Periodo creado exitosamente</h2>
    </div>
  </ng-template>


  <div  class="dialogSuccess" >

    <div >
      <div >
        <div class="text-right divbotonexit">
          <a class="buttonCerrarse" data-title="Cerrar sesión" (click)="cerrarSesion()"><i class="icofont-exit iconexitperiodo"></i></a>
        </div>
        <h1>Registrar un periodo</h1>

        <hr>

        <form [formGroup]="formularioRegistrarPeriodo">
          <div class="row">
            <div class="col-12">
              <h4>Descripción</h4>
              <mat-form-field class="example-full-width" appearance="fill" class="inputsEspacio" style="width: 100%;">
                <mat-label>EJ: 2021-1</mat-label>
                <input matInput #descripcion formControlName="descripcionperiodo" id="icon_prefix" type="text" class="validate">
              </mat-form-field>
              <mat-error class="help-block form-error text-danger small"
              *ngIf="formularioRegistrarPeriodo.controls['descripcionperiodo'].hasError('required') && formularioRegistrarPeriodo.controls['descripcionperiodo'].touched">
            La descripción es requerida </mat-error>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
<h4>Selecciona las fechas del periodo</h4>
						<mat-form-field appearance="fill" class="inputFechas" style="width: 100%;">
						<mat-label>Selecciona las fechas del periodo</mat-label>
						<mat-date-range-input [rangePicker]="picker">
						<input matStartDate #fechaini class="inputFechaIni" placeholder="Fecha incial">
						<input matEndDate #fechafin placeholder="Fecha final">
						</mat-date-range-input>
						<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-date-range-picker #picker></mat-date-range-picker>
						</mat-form-field>
        </div>


      </div>
      <div class="row center">
        <div class="col-12">
          <a mat-raised-button color="primary" (click)="registrarPeriodo(descripcion.value,fechaini.value,fechafin.value,errorRegistrarPeriodo,periodoexitoso)" [class.disabled]="!formularioRegistrarPeriodo.valid" ><i class="icofont-save left"></i>Registrar Postulacion</a>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
</ng-template>
<div class="row cartaBienvenida">
  <div class="homeestudiante" *ngIf="this.$nombreusuario.rol =='1'">
    <div class="slider">
      <div id="page">
        <section>

          <div id="slider-container">
            <div id="slider-box">
              <div class="slider-element">
                <article id="element1" class="element-red">

                </article>
              </div>
              <div class="slider-element">
                <article id="element2" class="element-green">

                </article>
              </div>
              <div class="slider-element">
                <article id="element3" class="element-blue">

                </article>                            
              </div>
            </div>
          </div>

        </section>            
      </div>
<!--       <div class="divulbuttonslider">
        <ul class="ulbuttonslider">
          <li class="lislider"><a href="#element1"><div class="ilink"></div></a></li>
          <li class="lislider"><a href="#element2"><div class="ilink"></div></a></li>
          <li class="lislider"><a href="#element3"><div class="ilink"></div></a></li>
        </ul>
      </div> -->
    </div>
    <div data-aos="zoom-in-down" data-aos-once="true" class="info" id="infotextid">
      <div class="titlediv">
        <h1 class="titlesigbe">¿Qué es SIGBE?</h1>
      </div>
      <div>
        <div class="divimginfo">
          <img src="assets/imgs/uv.png" width="250px">
        </div>
        <div class="divinfotext">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
      
    </div>
    <div data-aos="zoom-in-down" data-aos-once="true" class="info" id="infoprogramass">
      <div class="titlediv">
        <h1 class="titlesigbe">Apoyos de bienestar universitario</h1>
      </div>
      <div class="apoyosinfo">
        <div class="apoyoinfo apoyoinfo1">
          <div class="cardimgs">
            <img src="assets/imgs/uv.png" width="40px">
          </div>
          <div class="cardtexts">
            Programa de jovenes en acción
          </div>
        </div>
        <div  class="apoyoinfo apoyoinfo2">
          <div class="cardimgs">
            <img src="assets/imgs/uv.png" width="40px">
          </div>
          <div class="cardtexts">
            Monitorias especiales para estudiantes en situacion de discapacidad
          </div>
        </div>
        <div  class="apoyoinfo apoyoinfo3">
          <div class="cardimgs">
            <img src="assets/imgs/uv.png" width="40px">
          </div>
          <div class="cardtexts">
            Beca de alimentos para estudiantes de escasos recursos
          </div>
        </div>
        <div  class="apoyoinfo apoyoinfo4">
          <div class="cardimgs">
            <img src="assets/imgs/uv.png" width="40px">
          </div>
          <div class="cardtexts">
            Subsidio socioeconomico para estudiantes de escasos recursos
          </div>
        </div>
        <div  class="apoyoinfo apoyoinfo5">
          <div class="cardimgs">
            <img src="assets/imgs/uv.png" width="40px">
          </div>
          <div class="cardtexts">
            Bono estudiantil
          </div>
        </div>
      </div>
      <div class="divbuttonconocemas">
        <a class="buttonconocemas" href="https://sites.google.com/correounivalle.edu.co/bienestar-universitario/secci%C3%B3n-de-desarrollo-humano-y-promoci%C3%B3n-socioeconomica?authuser=0" target="_blank">Conoce mas</a>
      </div>
      
    </div>
    
  </div>


  <div class="col-12 mb-2" *ngIf="this.$nombreusuario.rol !='1'">
    <div class="wrap ">
      <div class="row rowpanelbienestar" data-aos="zoom-in-down" data-aos-once="true">
        <div class="col-12">
          <h1 *ngIf="this.$nombreusuario.rol =='2'">Panel administrativo - Bienestar universitario</h1>
          <h1 *ngIf="this.$nombreusuario.rol !='2'">Panel administrativo - Psicologia</h1>
          <hr>
        </div>
        <div class="row col-12" *ngFor="let infocol of infoColores">
          <div class="col-4 infoblue">
            <div class="imginfocount">
             <i class="icofont-attachment iconinfocount"></i>
           </div>
           <div class="infocount">
            <h1>{{infocol.numeropostu}}</h1>
            <span>Postulaciones hechas</span>
          </div>
        </div>
        <div class="col-4 infogreen">
          <div class="imginfocount">
           <i class="icofont-group-students iconinfocount"></i>
         </div>
         <div class="infocount">
          <h1>{{infocol.numerouser}}</h1>
          <span>Estudiantes registrados</span>
        </div>
      </div>
      <div class="col-4 infoyellow">
        <div class="imginfocount">
          <i class="icofont-calendar iconinfocount"></i>
        </div>
        <div class="infocount">
          <h1>{{infocol.numeroconvo}}</h1>
          <span>Convocatorias realizadas</span>
        </div>
      </div>
      <div class="col-4 infored">
        <div class="imginfocount">
         <i class="icofont-ticket iconinfocount"></i>
       </div>
       <div class="infocount">
        <h1>{{infocol.numerotickets}}</h1>
        <span>Tiquetes reservados</span>
      </div>
    </div>

  </div>
</div>

<br>
<div class="row col-12 rowpanelbienestargrafica" data-aos="zoom-in-down" data-aos-once="true">
  <div class="col-7 graficainfo">
    <div class="titulografica">
      <h1>Postulaciones por zonas residenciales</h1>
    </div>
    <div class="imggrafica">
       <canvas id="realtime">{{ chart }}</canvas>
      <!-- <img src="assets/imgs/grafica.png" width="560px"> -->
    </div>
  </div>

  <div class="col-4 tablainfopostus">
    <div class="titulografica">
      <h1>Postulaciones en espera</h1>
    </div>
    

    <table class="table table-bordered table-striped mb-0">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Estrato</th>
          <th scope="col">Tipo beca</th>
          <th scope="col">Revision</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let postus of  postulaciones">
          <th scope="row">{{postus.nombre}}</th>
          <td>{{postus.estrato}}</td>
          <td>{{postus.convocatoria}}</td>
          <td>{{postus.estado}}</td>
          <td><a (click)="buscarEstPostuByIden(mytemplate)"><i class="icofont-ui-search iconSearchUser"></i></a></td>
        </tr>

      </tbody>
    </table>
  </div>

</div>
<div class="row col-12 rowpanelbienestargrafica mt-4" data-aos="zoom-in-down" data-aos-once="true">
    <div class="col-7 graficainfo">
    <div class="titulografica">
      <h1>Postulaciones por carrera y beca</h1>
    </div>
    <div>
<!--       <div class="center">
      <button  mat-raised-button color="primary" (click)="crearImagen()">Descargar</button>
    </div> -->
      <form>
        <mat-form-field appearance="fill" class="inputsEspacio" style="width: 80%;">
            <mat-label>Seleccione una Beca</mat-label>
            <mat-select #beca required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let beca of listbecas" [value]="beca.consecutivo_beca">
                {{beca.descripcion}}
              </mat-option>
            </mat-select>
        </mat-form-field>
            <a mat-raised-button color="primary" style="width: 20%;" (click)="consultarPostuCarrera(beca.value)">Consultar</a>
      </form>
    </div>
    <div id="graficacarrerabeca" class="imggrafica">
       <canvas id="postus">{{ chartCarreras }}</canvas>
      <!-- <img src="assets/imgs/grafica.png" width="560px"> -->
    </div>
  </div>


</div>
</div>
</div>