<app-navbar></app-navbar>
<ng-template #mytemplate>
<div >
<form >
    <h1>Info Estudiante</h1>
    <mat-form-field class="example-full-width" disabled appearance="none">
    <mat-label>Nombre estudiante</mat-label>
    <input id="cupos" matInput placeholder="cupos" value="">
    </mat-form-field>
    <mat-form-field class="example-full-width" disabled appearance="none">
    <mat-label>Codigo estudiante</mat-label>
    <input #beca id="cupos" matInput placeholder="cupos" value="">
    </mat-form-field>
    <mat-form-field class="example-full-width" disabled appearance="none">
    <mat-label>Saldo</mat-label>
    <input #fechainicio id="cupos" matInput placeholder="cupos" value="">
    </mat-form-field>
    <mat-form-field class="example-full-width" disabled appearance="none">
    <mat-label>Postulaciones realizadas</mat-label>
    <input #fechafin id="cupos" matInput placeholder="cupos" value="">
    </mat-form-field>
    
</form>
<h1>Postulaciones Realizadas</h1>
 <table>
        <thead>
          <tr>
              <th>PostuId</th>
              <th>Beca</th>
              <th>Estado</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>1</td>
            <td>Almuerzo</td>
            <td>Rechazado</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Almuerzo</td>
            <td>En espera</td>
          </tr>
        </tbody>
      </table>

</div>
</ng-template>
<div class="row rowViewConvo">
<div class="col s12 m7">
    <div class="card">
        <div class="card-content">
            <form *ngIf="loading">
                <div class="card-content">
                    <h1>
                        Info Convocatoria
                        <div class="botonEditarForm">
                            <a href=""><i class="icofont-ui-edit iconSearchUser"></i></a>
                        </div>
                    </h1>
                    <mat-form-field class="example-full-width" disabled appearance="none">
                    <mat-label>Consecutivo Convocatoria</mat-label>
                    <input #consecutivo_convocatoria id="consecutivo" matInput placeholder="consecutivo" [value]="$convoBuscada.consecutivo_convocatoria">
                    </mat-form-field>
                    <mat-form-field class="example-full-width" disabled appearance="none">
                    <mat-label>Cantidad de Cupos</mat-label>
                    <input #cupo id="cupos" matInput placeholder="cupos" [value]="$convoBuscada.cupo">
                    </mat-form-field>
                    <!--<mat-form-field class="example-full-width" disabled appearance="none">
                    <mat-label>Beca de la convocatoria</mat-label>
                    <input #beca id="beca" matInput placeholder="beca" [value]="$convoBuscada.beca">
                    </mat-form-field>-->
                    <mat-form-field appearance="none">
                        <mat-label>{{$convoBuscada.beca}}</mat-label>
                        <mat-select #becas  required>
                        <mat-option ></mat-option>
                          <mat-option *ngFor="let beca of convocatoriaBeca" [value]="$convoBuscada.beca">
                            {{$convoBuscada.beca}}
                          </mat-option>
                        </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="none">
                            <mat-label>{{$convoBuscada.periodosacademicos}}</mat-label>
                            <mat-select #periodosacademicos  required>
                            <mat-option>--</mat-option>
                              <mat-option *ngFor="let periodos of convocatoriaPeriodo" [value]="$convoBuscada.periodosacademicos">
                                {{$convoBuscada.periodosacademicos}}
                              </mat-option>
                            </mat-select>
                            </mat-form-field>
                </div>
                <div class="card-action">
                    <h1>Horario Convocatoria</h1>
                    
                    <mat-form-field appearance="none">
                        <input #fecha_inicio matInput [ngxMatDatetimePicker]="picker" placeholder="Selecciona Fecha Inicial" 
                             [value]="$convoBuscada.fechainicio">
                             Fecha inicio Convocatoria:  {{$convoBuscada.fechainicio}}
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            
                        <ngx-mat-datetime-picker  #picker  >
                        </ngx-mat-datetime-picker>
                     </mat-form-field>
                     <div>
                     <mat-form-field appearance="none">
                      <input #fecha_fin matInput [ngxMatDatetimePicker]="picker2" placeholder="Selecciona Fecha final" 
                      [value]="$convoBuscada.fechafin">
                      Fecha fin Convocatoria: {{$convoBuscada.fechafin}}
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            
                      <ngx-mat-datetime-picker  #picker2  >
                      </ngx-mat-datetime-picker>
                   </mat-form-field>
                   <mat-form-field style="float: right;" appearance="none">
                    <mat-label>Seleccione el estado</mat-label>
                    <mat-select #estado_convocatoria  required>
                    <mat-option>--</mat-option>
                      <mat-option value="Activo">Activo</mat-option>
                      <mat-option value="Inactivo">Inactivo</mat-option>
                    </mat-select>
                    </mat-form-field>
                   </div>
                    <!--<mat-form-field class="example-full-width" disabled appearance="none">
                        <mat-label>fecha inicio de la convocatoria</mat-label>
                        <input #fechainicio id="fechainicio" matInput placeholder="fechainicio" [value]="$convoBuscada.fechainicio">
                        </mat-form-field>
                        
                        <mat-form-field class="example-full-width" disabled appearance="none">
                        <mat-label>fecha fin de la convocatoria</mat-label>
                        <input #fechafin id="fechafin" matInput placeholder="fechafin" [value]="$convoBuscada.fechafin">
                        </mat-form-field>-->
                </div>
                <div>
                    <a class="btn waves-effect waves-light red darken-4 " (click)="actualizarConvocatoria
                    (consecutivo_convocatoria.value, cupo.value, becas.value,periodosacademicos.value,fecha_inicio.value,fecha_fin.value,estado_convocatoria.value)" name="action">Actualizar</a>
                  </div>
            </form>
        </div>
        <div class="card-action">
            <h1>Postulaciones</h1>
            <table>
                <thead>
                    <tr>
                        <th>Nombre estudiante</th>
                        <th>Estrato</th>
                        <th>Promedio</th>
                        <th>Fecha postulacion</th>
                        <th>Semestre</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let postu of $postuByIdArray">
                        <td>{{postu.estudiante.nombreestudiante + ' '}}<a (click)="buscarEstPostuByIden(mytemplate)"><i class="icofont-ui-search iconSearchUser"></i></a></td>
                        <td>{{postu.estrato}}</td>
                        <td>{{postu.promedio}}</td>
                        <td>{{postu.fechapostulacion}}</td>
                        <td>{{postu.semestre}}</td>
                        <td>
                            <a href=""><i class="icofont-checked iconcheckAprobar"></i></a>
                            <a href=""><i class="icofont-close-squared-alt iconcloseAprobar"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            
        </div>
    </div>
</div>
</div>
