.iconcheckAprobar{
	color: green;
    font-size: 18px;
}

.divbuttoninfo{
    display: inline-block;
}

.iconcloseAprobar{
	color: red;
    font-size: 18px;
}

.iconSearchUser{
	color: black;
	font-size: 18px;
	cursor: pointer;
}

.rowViewConvo{
	margin-left: 11%;
    margin-bottom: 0;
}
.botonEditarForm{
	display: inline-block;
	float: right;
}

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.5s;
    visibility: visible;
}

[data-title]:after {
    content: attr(data-title);
    background-color: #333;
    color: #fff;
    font-size: 14px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 500;
    position: absolute;
    padding: 3px 20px;
    bottom: -1.6em;
    left: 100%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
    border-radius: 6px;
    
}
[data-title] {
    position: relative;
}
.formtiqConvo{
	background: white;
	padding: 50px;
	box-shadow: 1px 1px 10px black;
	border-radius: 5px;
	font-weight: 600;
    width: 104%;
}