<app-navbar></app-navbar>



<ng-template #mytemplate>
  <div >
    <form >
      <h1>Info Estudiante
      </h1>
      <hr>

      <div class="row">
        <div class="col-6">
          <mat-form-field class="example-full-width" disabled appearance="none">
            <mat-label>Codigo estudiante</mat-label>
            <input #beca id="codigoest" matInput placeholder="cupos" disabled [value]="postulacionesest[0].estudiante.codigoestudiante">
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="example-full-width" disabled appearance="none">
            <mat-label>Identificación</mat-label>
            <input #beca id="identificacionest" matInput placeholder="cupos" disabled [value]="postulacionesest[0].estudiante.identificacion">
          </mat-form-field>
        </div>
        
      </div>
      <div class="row">
        <div class="col-12">

          <mat-form-field class="example-full-width" disabled appearance="none">
            <mat-label>Correo electronico</mat-label>
            <input #beca id="correoest" matInput placeholder="cupos" disabled [value]="postulacionesest[0].estudiante.correoest">
          </mat-form-field>
        </div>
      </div>
    </form>
    <h1>Postulaciones Realizadas</h1>
    <table class="table table-bordered table-striped mb-0">
      <thead>
        <tr>
          <th>Fecha postulacion</th>
          <th>Tipo beca</th>
          <th>Estado</th>
          <th>Semestre</th>
          <th>Estrato registrado</th>
        </tr>
      </thead>

      <tbody *ngFor="let postu of postulacionesest">
        <tr>
          <td>{{postu.fechapostulacion}}</td>
          <td>{{postu.nombreConv}}</td>
          <td>{{postu.estado_postulacion}}</td>
          <td>{{postu.semestre}}</td>
          <td>{{postu.estrato}}</td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col-10 m-4 text-center">
        <button mat-raised-button color="primary">Generar informe estudiante</button>
      </div>
    </div>
  </div>
</ng-template>
<div class="cuerpopage cup1" data-aos="fade-down" data-aos-once="true">
  <div class="formtiq ">
    <div >
      <div >
        <form [formGroup]="formularioConvocatoria" *ngIf="loading">
          <div class="card-content">
            <h1>
              Info Convocatoria
              <div class="botonEditarForm">
                <a (click)="activeFormActualizar()" data-title="Editar convocatoria"><i class="icofont-ui-edit iconSearchUser"></i></a>
              </div>
            </h1>
            <hr>
            <mat-form-field class="example-full-width"  appearance="none">
              <mat-label>Consecutivo Convocatoria</mat-label>
              <input #consecutivo_convocatoria [disabled]="disabledActualizar" id="consecutivo" matInput placeholder="consecutivo" [value]="$convoBuscada.consecutivo_convocatoria">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="none">
              <mat-label>Cantidad de Cupos</mat-label>
              <input #cupo formControlName="cupo" [disabled]="disabledActualizar" id="cupos" matInput placeholder="cupos" [value]="$convoBuscada.cupo">
              <mat-error class="help-block form-error text-danger small" *ngIf="formularioConvocatoria.controls['cupo'].hasError('required') &&
              formularioConvocatoria.controls['cupo'].touched">Por favor, escriba un numero de cupos</mat-error>
            </mat-form-field>
                    <!--<mat-form-field class="example-full-width" disabled appearance="none">
                    <mat-label>Beca de la convocatoria</mat-label>
                    <input #beca id="beca" matInput placeholder="beca" [value]="$convoBuscada.beca">
                  </mat-form-field>-->
                  <mat-form-field appearance="none">
                    <mat-label>{{$convoBuscada.beca}}</mat-label>
                    <mat-select #becas [disabled]="disabledActualizar" required formControlName="beca">
                      <mat-option ></mat-option>
                      <mat-option *ngFor="let beca of convocatoriaBeca" [value]="$convoBuscada.beca">
                        {{$convoBuscada.beca}}
                      </mat-option>
                    </mat-select>
                    <mat-error class="help-block form-error text-danger small" *ngIf="formularioConvocatoria.controls['beca'].hasError('required') &&
                    formularioConvocatoria.controls['beca'].touched">Por favor, seleccione una beca</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="none">
                    <mat-label>{{$convoBuscada.periodosacademicos}}</mat-label>
                    <mat-select #periodosacademicos [disabled]="disabledActualizar" required formControlName="periodos">
                      <mat-option>--</mat-option>
                      <mat-option *ngFor="let periodos of convocatoriaPeriodo" [value]="$convoBuscada.periodosacademicos">
                        {{$convoBuscada.periodosacademicos}}
                      </mat-option>
                    </mat-select>
                    <mat-error class="help-block form-error text-danger small" *ngIf="formularioConvocatoria.controls['periodos'].hasError('required') &&
                    formularioConvocatoria.controls['periodos'].touched">Por favor, Indique un periodo</mat-error>
                  </mat-form-field>
                </div>
                <div class="card-action">
                  <h1>Horario Convocatoria</h1>

                  <mat-form-field appearance="none">
                    <input #fecha_inicio [disabled]="disabledActualizar" matInput [ngxMatDatetimePicker]="picker" placeholder="Selecciona Fecha Inicial" 
                    [value]="$convoBuscada.fechainicio" formControlName="fechaini">
                    Fecha inicio Convocatoria:  {{$convoBuscada.fechainicio}}
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>

                    <ngx-mat-datetime-picker  #picker  >
                    </ngx-mat-datetime-picker>
                    <mat-error class="help-block form-error text-danger small" *ngIf="formularioConvocatoria.controls['fechaini'].hasError('required') &&
                    formularioConvocatoria.controls['fechaini'].touched">Por favor, Indique una fecha inicio</mat-error>
                  </mat-form-field>
                  <div>
                   <mat-form-field appearance="none">
                    <input #fecha_fin [disabled]="disabledActualizar" matInput [ngxMatDatetimePicker]="picker2" placeholder="Selecciona Fecha final" 
                    [value]="$convoBuscada.fechafin" formControlName="fechafin">
                    Fecha fin Convocatoria: {{$convoBuscada.fechafin}}
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>

                    <ngx-mat-datetime-picker  #picker2  >
                    </ngx-mat-datetime-picker>
                    <mat-error class="help-block form-error text-danger small" *ngIf="formularioConvocatoria.controls['fechafin'].hasError('required') &&
                    formularioConvocatoria.controls['fechafin'].touched">Por favor, Indique una fecha fin</mat-error>
                  </mat-form-field>
                  <mat-form-field style="float: right;" appearance="none">
                    <mat-label>Seleccione el estado</mat-label>
                    <mat-select #estado_convocatoria [disabled]="disabledActualizar" required formControlName="estado">
                      <mat-option>--</mat-option>
                      <mat-option value="Activo">Activo</mat-option>
                      <mat-option value="Inactivo">Inactivo</mat-option>
                    </mat-select>
                    <mat-error class="help-block form-error text-danger small" *ngIf="formularioConvocatoria.controls['estado'].hasError('required') &&
                    formularioConvocatoria.controls['estado'].touched">Por favor, seleccione una beca</mat-error>
                  </mat-form-field>
                </div>
                    <!--<mat-form-field class="example-full-width" disabled appearance="none">
                        <mat-label>fecha inicio de la convocatoria</mat-label>
                        <input #fechainicio id="fechainicio" matInput placeholder="fechainicio" [value]="$convoBuscada.fechainicio">
                        </mat-form-field>
                        
                        <mat-form-field class="example-full-width" disabled appearance="none">
                        <mat-label>fecha fin de la convocatoria</mat-label>
                        <input #fechafin id="fechafin" matInput placeholder="fechafin" [value]="$convoBuscada.fechafin">
                      </mat-form-field>-->
                    </div>
                    <div *ngIf="activeButton">
                      <a class="btn waves-effect waves-light red darken-4 " (click)="actualizarConvocatoria
                      (consecutivo_convocatoria.value, cupo.value, becas.value,periodosacademicos.value,fecha_inicio.value,fecha_fin.value,estado_convocatoria.value)" name="action">Actualizar</a>
                    </div>
                  </form>
                </div>
                <div class="card-action">
                  <h1>Postulaciones</h1>
                  <table class="table table-bordered table-striped mb-0">
                    <thead>
                      <tr>
                        <th>Nombre estudiante</th>
                        <th>Estrato</th>
                        <th>Promedio</th>
                        <th>Fecha postulacion</th>
                        <th>Semestre</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let postu of $postuByIdArray">
                        <td>{{postu.estudiante.nombreestudiante + ' '}}<a (click)="buscarEstPostuByIden(postu.estudiante.identificacion,mytemplate)"><i class="icofont-ui-search iconSearchUser"></i></a></td>
                        <td>{{postu.estrato}}</td>
                        <td>{{postu.promedio}}</td>
                        <td>{{postu.fechapostulacion}}</td>
                        <td>{{postu.semestre}}</td>
                        <td>{{postu.estado_postulacion}}</td>
                        <td>
                          <a (click)="cambiarEstadoPostu(postu.consecutivo_postulacion,postu.estado_postulacion,true)"><i class="icofont-checked iconcheckAprobar"></i></a>
                          <a (click)="cambiarEstadoPostu(postu.consecutivo_postulacion,postu.estado_postulacion,false)"><i class="icofont-close-squared-alt iconcloseAprobar"></i></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>