@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Raleway:wght@100;200;300&display=swap');

*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 'Raleway', sans-serif !important;
}


.contenedor {
	background: red;
}

.cabeza {
	background: red;
}

.waves-effect .waves-brown .waves-ripple {
    /* The alpha value allows the text and background color
    of the button to still show through. */
    background-color: rgba(121, 0, 0, 0.65) !important;
}


/* label focus color */

.input-field input:focus+label {
	color: #cd1f32 !important;
}


/* label underline focus color */

.row .input-field input:focus {
	border-bottom: 1px solid #cd1f32 !important;
	box-shadow: 0 1px 0 0 #cd1f32 !important
}