<app-navbar></app-navbar>
<div class="containerRegisterPostu">
 <ng-template #mytemplate>
    <div *ngIf="success" class="dialogSuccess" >
        <i class="icofont-ui-check text-center iconSuccessRegister"></i>
        <h2 class="text-center textoSuccess">Registrado exitosamente</h2>
    </div>   
    <div *ngIf="!success" class="dialogSuccess" >
        <i class="icofont-close-circled text-center iconErrRegister"></i>
        <h2 class="text-center textoSuccess">Error al registrarse</h2>
    </div>       
</ng-template>

<div class="cuerpopage cup1" data-aos="fade-down" data-aos-once="true">
    <form [formGroup]="myForm" class="col s12 formtiq" novalidate>
        <div class="row text-center rowImageLogin">
         <h1>Postularse a una convocatoria</h1>
     </div>

     <div class="row">
        <div class="input-field col s12">
            <h4>Selecciona una convocatoria</h4>
            <mat-form-field appearance="fill">
              <mat-select #convo required formControlName="convo">
                <mat-option>-- Selecciona una Convocatoria --</mat-option>
                <mat-option *ngFor="let convos of convoActivas" [value]="convos.consecutivoconvo">{{convos.beca}}</mat-option>
            </mat-select>
            <mat-label> <b> Convocatoria</b></mat-label>
        </mat-form-field>
        <div *ngIf="myForm.get('convo').errors && myForm.get('convo').dirty">
            <p class="red-text" *ngIf="myForm.get('convo').hasError('required')">Por favor, no dejar el campo convocatoria vacio.</p>
        </div>
    </div>
    <div class="input-field col s6">
        <h4>Selecciona un estrato</h4>
        <mat-form-field appearance="fill">
          <mat-select #estrato required formControlName="estrato">
            <mat-option>-- Selecciona su estrato --</mat-option>
            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
            <mat-option value="3">3</mat-option>
            <mat-option value="4">4</mat-option>
            <mat-option value="5">5</mat-option>
            <mat-option value="6">6</mat-option>
        </mat-select>
        <mat-label><i class="icofont-home icoselectCalendar"></i> <b> Estrato</b> </mat-label>
    </mat-form-field>
    <div *ngIf="myForm.get('estrato').errors && myForm.get('estrato').dirty">
        <p class="red-text" *ngIf="myForm.get('estrato').hasError('required')">Por favor, no dejar el campo estrato vacio.</p>
    </div>
</div>
<!-- fin estrato -->

<div class="input-field col s6">
    <h4>Selecciona tú semestre</h4>
    <mat-form-field appearance="fill">
      <mat-select #semestre required formControlName="semestre">
        <mat-option>-- Selecciona el semestre cursando --</mat-option>
        <mat-option value="1">1</mat-option>
        <mat-option value="2">2</mat-option>
        <mat-option value="3">3</mat-option>
        <mat-option value="4">4</mat-option>
        <mat-option value="5">5</mat-option>
        <mat-option value="6">6</mat-option>
        <mat-option value="7">7</mat-option>
        <mat-option value="8">8</mat-option>
        <mat-option value="9">9</mat-option>
        <mat-option value="10">10</mat-option>

    </mat-select>
    <mat-label><i class="icofont-calendar icoselectCalendar"></i> <b> Semestre</b> </mat-label>
</mat-form-field>
<div *ngIf="myForm.get('semestre').errors && myForm.get('semestre').dirty">
    <p class="red-text" *ngIf="myForm.get('semestre').hasError('required')">Por favor, no dejar el campo convocatoria vacio.</p>
</div>
</div>


<!-- PROMEDIO -->
<div class="input-field col s6">
    <h4>Ingresa tu promedio acumulado</h4>
    

    <mat-form-field appearance="fill">
      <mat-label>Promedio</mat-label>
      <input matInput #promedio formControlName="promedio" id="icon_prefix" type="text" class="validate" require>
  </mat-form-field>
  <div *ngIf="myForm.get('promedio').errors && myForm.get('promedio').dirty">
    <p class="red-text" *ngIf="myForm.get('promedio').hasError('required')">Por favor, no dejar el campo convocatoria vacio.</p>
    <p class="red-text" *ngIf="myForm.get('promedio').hasError('minlength')">Minimo 1 caracter</p>
    <p class="red-text" *ngIf="myForm.get('promedio').hasError('maxlength')">Maximo 3 caracteres</p>
</div>
</div>
<!-- FIN PROMEDIO -->
<div class="input-field col s6">
    <h4>Verifica tu numero de identificación</h4>
    <mat-form-field appearance="fill">
      <mat-label>Identificacion</mat-label>
      <input matInput #identificacion id="icon_prefix" value="{{this.$nombreusuario.identi}}" disabled="true" type="text" class="validate inputidenuser">
  </mat-form-field>
</div>
</div>



<div class="row center">
    <div class="input-field col s12 text-center">
        <button (click)="registrarPostulacion(promedio.value,semestre.value,estrato.value,identificacion.value,convo.value,mytemplate)" mat-raised-button color="primary" [disabled]="myForm.invalid" ><i class="icofont-save left"></i> <span class="buttontext">Registrar Postulacion</span></button>
    </div>
</div>
</form>
</div>
</div>