<app-navbar></app-navbar>
<div class="cuerpopage cup1" data-aos="fade-down" data-aos-once="true">
  <div class="formtiq ">
      <div class="titulo">
        <h1>LISTA DE TICKETS</h1>
      </div>
      <hr>
      <div class="row">
      <div class="col-12">
        <h4>Digita y filtra la tabla</h4>
        <mat-form-field class="example-full-width" style="width: 100%;" appearance="fill" class="inputsEspacio">
              <mat-label>Digita para filtrar</mat-label>
              <input   matInput (keyup)="applyFilter($event.target.value)">
        </mat-form-field>
      </div>
      <div class="col-lg">
        <h4>Seleccione un opcion de filtro</h4>
          <mat-form-field class="tipoFiltro" appearance="fill" class="inputsEspacio">
            <mat-label>Seleccione como desea filtrar</mat-label>
            <mat-select [(ngModel)]="opcionSeleccionada">
              <mat-option>--</mat-option>
              <mat-option value="sinfiltro">Sin filtro</mat-option>              
              <mat-option value="Periodo">Periodo Academico</mat-option>
              <mat-option value="Tipo">Tipo del ticket</mat-option>
              <mat-option value="Estado">Estado del ticket</mat-option>
              <mat-option value="identi">Identificación</mat-option>    
              <mat-option value="fechas">Por fechas</mat-option>    
            </mat-select>
          </mat-form-field>
          <a mat-raised-button color="primary" *ngIf="opcionSeleccionada == 'sinfiltro'" (click)="consultarFiltro()">Consultar</a>
      </div>
      <div class="col-lg" *ngIf="opcionSeleccionada == 'Periodo'">
          <h4>Seleccione un Periodo academico</h4>
          <mat-form-field class="periodoSel" appearance="fill" class="inputsEspacio">
            <mat-label>Seleccione como desea filtrar</mat-label>
            <mat-select [(ngModel)]="periodoSel">
              <mat-option>--</mat-option>
              <mat-option *ngFor="let periodo of periodosAll" [value]="periodo.consecutivo_periodo">
                {{periodo.descripcion}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <a mat-raised-button color="primary" (click)="consultarFiltro()">Consultar</a>
      </div>
      <div class="col-lg" *ngIf="opcionSeleccionada == 'Tipo'">
          <h4>Seleccione un Tipo de ticket</h4>
          <mat-form-field class="tipoFiltro" appearance="fill" class="inputsEspacio">
            <mat-label>Seleccione como desea filtrar</mat-label>
            <mat-select [(ngModel)]="tipoTicket">
              <mat-option>--</mat-option>
              <mat-option value="Ticket Almuerzo">Ticket Almuerzo</mat-option>
              <mat-option value="Ticket Refrigerio">Ticket Refrigerio</mat-option>                 
            </mat-select>
          </mat-form-field>
          <a mat-raised-button color="primary" (click)="consultarFiltro()">Consultar</a>
      </div>
      <div class="col-lg" *ngIf="opcionSeleccionada == 'Estado'">
          <h4>Seleccione un estado de ticket</h4>
          <mat-form-field class="tipoFiltro" appearance="fill" class="inputsEspacio">
            <mat-label>Seleccione como desea filtrar</mat-label>
            <mat-select [(ngModel)]="estadoTicket">
              <mat-option>--</mat-option>
              <mat-option value="Usado">Tickets usados</mat-option>
              <mat-option value="Sin usar">Tickets sin usar</mat-option>          
            </mat-select>
          </mat-form-field>
          <a mat-raised-button color="primary" (click)="consultarFiltro()">Consultar</a>
      </div>
      <div class="col-lg" *ngIf="opcionSeleccionada == 'identi'">
          <h4>Ingrese una identificación</h4>
          <mat-form-field class="example-full-width" appearance="fill" class="inputsEspacio">
                <mat-label>Identficación</mat-label>
                <input  id="cupos" [(ngModel)]="identificacionSel" matInput placeholder="identificación" value="" pattern="^[0-9]+">
          </mat-form-field>
          <a mat-raised-button color="primary" (click)="consultarFiltro()">Consultar</a>
      </div>
      <div class="col-lg" *ngIf="opcionSeleccionada == 'fechas'">
          <h4>Selecciona el rango de fechas deseado</h4>
            <mat-form-field appearance="fill" class="inputFechas" style="width: 100%;">
              <mat-label>Selecciona las fechas deseadas</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate [(ngModel)]="fechaini" class="inputFechaIni" placeholder="Fecha incial">
                <input matEndDate [(ngModel)]="fechafin" placeholder="Fecha final" >
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
          <a mat-raised-button color="primary" (click)="consultarFiltro()">Consultar</a>
      </div>
    </div>
   <hr>
                  <div class="row">
                    <div class="col-12 m-12 text-center">
                      <div class ="container" style="padding-bottom:20px">
                        <button mat-raised-button color="warning" (click)="applyExportarFiltrado()">Exportar a excel</button>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6 col-sm-6 col-lg-6">
                      <div class="alert alert-info alert-dismissible fade show">
                        Dinero recolectado total: {{dinerorecolectado}}
                      </div>
                    </div>
                    <div class="col-6 col-sm-6 col-lg-6">
                      <div class="alert alert-info alert-dismissible fade show">
                        Dinero al filtrar la tabla: {{dinerofiltrado}}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      Cantidad de tickets actuales consultados:
                      <div class="alert alert-secondary">
                        {{cantticketsconsultados}}
                      </div>
                    </div>
                  </div>

                      <div class="mat-elevation-z8">
                  <table mat-table [dataSource]="dataSource" matSort style="width: 100%;">

                    <!-- ID Column -->
                    <ng-container matColumnDef="consecutivoticket">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Codigo de ticket</th>
                      <td mat-cell *matCellDef="let row"> {{row.consecutivoticket}}</td>
                    </ng-container>

                    <!-- Progress Column -->
                    <ng-container matColumnDef="fecha_compra">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de reserva</th>
                      <td mat-cell *matCellDef="let row"> {{row.fecha_compra}} </td>
                    </ng-container>
                    <!-- Progress Column -->
                    <ng-container matColumnDef="estadoticket">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado del ticket</th>
                      <td mat-cell *matCellDef="let row"> {{row.estadoticket}} </td>
                    </ng-container>            
                    <!-- Progress Column -->
                    <ng-container matColumnDef="tipoticket">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo ticket</th>
                      <td mat-cell *matCellDef="let row"> {{row.tipoticket}} </td>
                    </ng-container>            

                    <!-- Name Column -->
                    <ng-container matColumnDef="identificacion_estudiante">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Identificación estudiante</th>
                      <td mat-cell *matCellDef="let row"> {{row.identificacion_estudiante}} </td>
                    </ng-container>

                    <!-- Color Column -->
                    <ng-container matColumnDef="nombre_estudiate">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre estudiante</th>
                      <td mat-cell *matCellDef="let row" > {{row.nombre_estudiate}} </td>
                    </ng-container>
                    <!-- Color Column -->
                    <ng-container matColumnDef="apellido_estudiate">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellido estudiante</th>
                      <td mat-cell *matCellDef="let row" > {{row.apellido_estudiate}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                      <td class="mat-cell" colspan="4">No hay datos que coincidan con lo digitado</td>
                    </tr>
                  </table>
                  <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]"></mat-paginator>
                </div>           
  </div>
</div>