<app-navbar></app-navbar>
<div class="cuerpopage cup1" data-aos="fade-down" data-aos-once="true">
  <div class="formtiq ">
    <div class="titulo">
      <h1>Lista de Tickets por identificación</h1>
    </div>
    <hr>
    <div class="row">

      <div class="col-12 m-4">
        <input #identificacion type="text" class="form-control" placeholder="Ingresar identificacion"  aria-describedby="basic-addon2">
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2"><button  mat-raised-button class="buttonbuscar" type="button"(click)="buscartickets(identificacion.value)" >Buscar</button></span>
        </div>
      </div>



    </div>


    <div class="tabla">
      <table class="table table-bordered table-striped mb-0">
        <thead>
          <tr >
            <th>Fecha <br>Compra ticket</th>
            <th>Identificacion</th>
            <th>Codigo de <br> estudiante</th>
            <th>Nombre</th>
            <th>Apellido</th>

          </tr>
        </thead>

        <tbody>
          <tr *ngIf="ticketes == null">
            <td>No hay tiquetes encontrados</td>
          </tr>
          <tr *ngFor="let ticket of ticketes">
            <td>{{ticket.fecha_compra.date}}</td>
            <td>{{ticket.identificacion_estudiante}}</td>
            <td>{{ticket.codigo_estudiante}}</td>
            <td>{{ticket.nombre_estudiate}}</td>
            <td>{{ticket.apellido_estudiate}}</td>



          </tr>


        </tbody>
      </table>

    </div>

  </div>
</div>