
<div class="wrap containerForm">


  <ng-template #periodocaducado>
    <div  class="dialogSuccess" >
      <i class="icofont-ui-close text-center iconErrRegister"></i>
      <h2 class="text-center textoSuccess">Lo siento, el periodo academico ha caducado</h2>
    </div>
  </ng-template>
  <ng-template #correonoencontrado>
    <div  class="dialogSuccess" >
      <i class="icofont-ui-close text-center iconErrRegister"></i>
      <h2 class="text-center textoSuccess">Lo siento, el correo ingresado no ha sido correcto</h2>
    </div>
  </ng-template>
  <ng-template #errorcontrasenainvl>
    <div  class="dialogSuccess" >
      <i class="icofont-ui-close text-center iconErrRegister"></i>
      <h2 class="text-center textoSuccess">La contraseña que ha ingresado es incorrecta o el usuario que ha ingresado puede no estar activo</h2>
    </div>
  </ng-template>
  <div class="mobiledescarga" data-aos="fade-down" data-aos-once="true">
    <a href="assets/apk/app-debug.apk" download="app-debug.apk" >
      <div class="imagedescargarapk">
        <img src="assets/imgs/apkt.png" width="40px">
      </div>
      <div class="titledescargar">
        <h3>Descarga SIGBE Mobile</h3>
      </div>
    </a>

  </div>
  <div class="imagelogin" data-aos="fade-right" data-aos-once="true">

  </div>
  <div class="row rowloginn" data-aos="fade-down" data-aos-once="true">
    <form class="col-12 rowform align-self-center">
      <div class="row center rowImageLogin">
        <div class="input-field col s12 divImageInto">
          <img src="assets/imgs/logo1.png" alt="...." width="100px" class="imglogobienestar">
          <img src="../../assets/imgs/logosigbe2.png" alt="...." width="150px">
        </div>
      </div>
      <div class="row">

        <div class="input-field col s12">
          <h4>Email</h4>
          <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput #email id="email" type="email" class="validate" require>
            <i matSuffix class="icofont-key iconocontrasenas"></i>
          </mat-form-field>
        </div>
      </div>
      <div class="row ">
        <div class="input-field col s12">
          <h4>Contraseña</h4>
          <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Contraseña</mat-label>
            <input matInput #contrasena id="password" type="password">
            <i matSuffix class="icofont-key iconocontrasenas"></i>
          </mat-form-field>
        </div>
      </div>
      <div class="row text-center">
        <div class="input-field col s12">
          <a mat-raised-button color="primary" class="button" (click)="login(email.value,contrasena.value,periodocaducado,correonoencontrado,errorcontrasenainvl)"><i class="icofont-login left"></i>Iniciar sesion</a>
          <a class="botonRegistrate" mat-raised-button routerLink="/crearusuariologin">¿Aún sin cuenta? Registrate!</a>
        </div>
      </div>
      <div class="row center" routerLinkActive="active">
        <div class="input-field col s12">

        </div>
      </div>
    </form>
  </div>
</div>