

.fondo{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #cd1f32;
    height: 140%;
    
}
@keyframes entradalogi {
    0% {
        opacity: 0;
        top: 0%;
    }
    100% {
        opacity: 1;
        top: 10%;
    }
}


.caja  {
    background: white;
    float: center;
    position: absolute;
    width: 30%;
    left: 35%;
    top: 10%;
    background: white;
    padding: 20px;
    box-shadow: 1px 1px 24px #00000059;
    border: 1px solid gray;
    color: black;
     float: left;
    /* margin: 20px; */
    /* margin-left: 11%; */
    margin-bottom: 0%;
    /* margin-top: 5.5%; */
    text-align: center;
    line-height:#444;
    animation-name: entradalogi;
    animation-duration: 2s;
    
}
 /* .rowform {
    text-align: center;
    position: absolute;
    width: 30%;
    left: 35%;
    top: 5%;
    bottom: 10px;
    background: white;
    
    box-shadow: 1px 1px 24px #00000059;
   
    
}  */

.divInputssrow{
    margin-bottom: 0px !important;
}

img{
    
    text-align: center;
}




.row{
    padding-left: 20px;
    padding-right: 20px;
}


.btn{
    
    background: red;
    margin-left: 10px;
    margin-bottom: 10px;
}

h5{
    color: slategrey;
}

.logo{
    margin-top: 10px;
}