<div class="fondo"> 
    <div class="caja z-depth-3">
        <div class="logo">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/eb/Univalle.svg/1200px-Univalle.svg.png " width="50px" alt="LogoUV">
        </div>
        <form [formGroup]="formulariologin"class="col s12">
          <h5>Registro estudiantil</h5>
            <div class="row divInputssrow"> 
                <div class="input-field col s12">
                    <input formControlName="identificacion"pattern="^[0-9]+"  maxlength="10" #identificacion type="text"  id="identificacion">
                     <label for="">Identificacion</label> 
                     <div *ngIf="formulariologin.get('identificacion').errors && formulariologin.get('identificacion').dirty">
                      <mat-error *ngIf="formulariologin.get('identificacion').hasError('required')">Este campo es obligatorio</mat-error>
                      <mat-error *ngIf="formulariologin.get('identificacion').hasError('minlength')"><br>Se debe ingresar minimo 6 caracteres</mat-error>
                      <mat-error *ngIf="formulariologin.get('identificacion').hasError('pattern')"><br>solo numeros</mat-error>
                     
                      
                     </div>
                   
                    </div> 
            </div>
          <div class="row divInputssrow">
            <div class="input-field col s6">
              <input formControlName="nombre" #nombre id="first_name" type="text" class="validate">
               <label for="first_name">Nombre</label>
               <div *ngIf="formulariologin.get('nombre').errors && formulariologin.get('nombre').dirty">
                <mat-error *ngIf="formulariologin.get('nombre').hasError('required')">Este campo es obligatorio</mat-error>
                <mat-error *ngIf="formulariologin.get('nombre').hasError('minlength')">Se debe ingresar minimo 3 caracteres</mat-error>
                <mat-error *ngIf="formulariologin.get('nombre').hasError('pattern')">Solo letras</mat-error>
               </div>
            </div>
            <div class="input-field col s6">
              <input formControlName="apellido" #apellido id="last_name" type="text" class="validate">
              <label for="last_name">Apellido</label>
              <div *ngIf="formulariologin.get('apellido').errors && formulariologin.get('apellido').dirty">
                <mat-error *ngIf="formulariologin.get('apellido').hasError('required')">Este campo es obligatorio</mat-error>
                <mat-error *ngIf="formulariologin.get('apellido').hasError('minlength')"><br>Se debe ingresar minimo 3 caracteres</mat-error>
                <mat-error *ngIf="formulariologin.get('apellido').hasError('pattern')"><br>Solo letras</mat-error>
               </div>


            </div>
          </div>
          <div class="row divInputssrow">
            <div class="input-field col s12">
              <input formControlName="email" #email pattern="[a-z]+.+[a-z]@correounivalle.edu.co" id="email" type="email" class="validate">
              <label for="email">Email</label>
              <div *ngIf="formulariologin.get('email').errors && formulariologin.get('email').dirty">
                <mat-error *ngIf="formulariologin.get('email').hasError('email')"><br>Correo no valido</mat-error>
                <mat-error *ngIf="formulariologin.get('email').hasError('pattern')"><br>debe terner correo univalle</mat-error>
                <mat-error *ngIf="formulariologin.get('email').hasError('required')">Este campo es obligatoria</mat-error>
              </div>
            </div>
          </div>
         
          <div class="row divInputssrow">
            <div class="input-field col s6">
              <input #codigo formControlName="codigo" id="codigo" type="text" class="validate">
              <label for="codigo">Codigo estudiante</label>
              <div *ngIf="formulariologin.get('codigo').errors && formulariologin.get('codigo').dirty">
                <mat-error *ngIf="formulariologin.get('codigo').hasError('required')">Este campo es obligatorio</mat-error>
                <mat-error *ngIf="formulariologin.get('codigo').hasError('minlength')">Se debe ingresar minimo 5 caracteres </mat-error>
                <mat-error *ngIf="formulariologin.get('codigo').hasError('pattern')"> <br>solo numeros</mat-error>
            </div>
            </div>
            <div class="input-field col s6">
                <input #contrasena formControlName="contrasena" id="password" type="password" class="validate">
                <label for="password">Contraseña</label>
                <div *ngIf="formulariologin.get('contrasena').errors && formulariologin.get('contrasena').dirty">
                  <mat-error *ngIf="formulariologin.get('contrasena').hasError('required')">Este campo es obligatorio</mat-error>
                  <mat-error *ngIf="formulariologin.get('contrasena').hasError('minlength')"><br>Se debe ingresar minimo 7 caracteres</mat-error>
                </div>
              </div>
              
              
          </div>
         
         
        
          
            <div class="row center" style="text-align: center;float: unset; display: flex; margin-top: 60px;" >
              <div class="input-field col s12">
                  <a [class.disabled]="!formulariologin.valid"    (click)="registrouser(identificacion.value,nombre.value,apellido.value,email.value,codigo.value,contrasena.value,1)" class="waves-effect waves-light btn red" >Registrar</a>
              </div>
              <div class="input-field col s12"routerLinkActive="active">
                <a routerLink="/**" class="waves-effect waves-light btn red">Regresar</a>
            </div>
              
         
         
            
            
       
              
          </div>
        </form>
      </div>
    </div>
