<app-navbar></app-navbar>

<ng-template #recomendaciones>
	<mat-tab-group mat-align-tabs="start" animationDuration="0ms">
  <mat-tab label="Información imagenes (IMPORTANTE)" data-aos="fade-down" data-aos-once="true">
  	<div class="container">
  		<div class="row">
  			<div class="col-sm-12">
  				<h1>RECOMENDACIONES PARA IMAGENES DE ANUNCIOS</h1>
  				<hr>
  				<h3>Para que las imagenes subidas en los anuncios se muestren de manera correcta, por favor seguir las siguientes recomendaciones:</h3>
  					<ul>
  						<li>|-->La imagen subida debe contener las siguientes dimensiones en pixeles
  						    <ul>
  						    	<br>
  							    <li>|-->|--> <strong> Ancho: 1349 pixeles</strong></li>
  							     <li>|-->|--> <strong> Alto: 415 pixeles</strong></li>
  							     <br>
  						    </ul>
  						</li>
  						<li>|-->La imagen se recomienda subirla en formato Imagen JPEG (.jpg)</li>
  					</ul>
  				
  			</div>
  		</div>
  	</div>
  </mat-tab>
    <mat-tab label="Información enlace (IMPORTANTE)" data-aos="fade-down" data-aos-once="true">
    <div class="container">
  		<div class="row">
  			<div class="col-sm-12">
  				<h1>RECOMENDACIONES PARA LOS ENLACES</h1>
  				<hr>
  				<h3>|-->Para que los botones de los enlaces de las imagenes funcionen de manera correcta por favor seguir las siguientes recomendaciones:</h3>
  					<ul>
  						<li>|-->El enlace debe estar con la dirección URL completa 
                             <ul>
                             	|-->|-->EJEMPLO:
                             	<li>|-->|-->|--> <strong> https://www.google.com.co/</strong> </li>
                             	<li>|-->|-->|--> <strong> http://www.palmira.univalle.edu.co/ </strong></li>
                             </ul>
  						</li>
  					</ul>

  			</div>
  		</div>
  	</div>
  </mat-tab>
</mat-tab-group>
</ng-template>

<div class="container" data-aos="fade-down" data-aos-once="true">
	<div class="row">

		<div class="formtiq col-md-6 offset-md-3 mt-4 mb-4">
			<div class="text-center">
				<h1>CREAR ANUNCIOS</h1>
				<hr>
				<button mat-stroked-button color="warn" (click)="abrirRecomendaciones(recomendaciones)">Recomendaciones para las imagenes</button>
				<hr>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-center">
						<form>
							<div class="col-lg">
								    <h4>Enlace de la imagen</h4>
        						    <mat-form-field appearance="fill" class="example-full-width">
          						    <mat-label>Enlace de la imagen</mat-label>
           							 <input matInput  #linkimagen type="text"  id="linkimagen">
           							 <i matSuffix class="icofont-id iconito"></i>
         						 </mat-form-field>
							</div>
								<div class="upload-btn-wrapper">
									 <button class="boton-standar-rw" >Carga un archivo</button>
									 <input class="upload-file-buton" type="file" (change)="seleccionarArchivo($event)" accept="image/x-png,image/jpeg" #imageanuncio>
									<mat-form-field appearance="none" class="example-full-width">
          						    <mat-label>Nombre imagen</mat-label>
           							 <input matInput type="text" [value]="imageseleccionada" disabled="true">
           							 <i matSuffix class="icofont-id iconito"></i>
         						 </mat-form-field>
                     <img [src]="'data:image/jpg;base64,' + archivo.base64textString" style="display: none;" alt="" #imagensel (load)="validarImagen()" >
								</div>
								<div class="col-lg">
									<a mat-raised-button color="primary" (click)="registrarAnuncio(linkimagen.value)">Guardar anuncio</a>
								</div>
						</form>
					</div>
					<hr>
				</div>
			</div>
					<div class="col-sm-12 text-center" *ngIf="anunciosActual == null">
						<h1>Anuncios actuales</h1>
						<hr>
            <h3>Actualmente no hay anuncios registrados</h3>
					</div>
					<div class="col-sm-12 text-center" *ngIf="anunciosActual != null">
						<h1>Anuncios actuales</h1>
						<hr>
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions"  *ngIf="cantAnuncios == 2 || cantAnuncios == 3" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button"  data-bs-target="#carouselExampleCaptions"  *ngIf="cantAnuncios == 3" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active" >
                  <img class="d-block w-100" [src]="'data:image/jpg;base64,' + anunciosActual[0].img"  alt="First slide">
                  <div class="carousel-caption d-none d-md-block">
                    <p>Ingresa aqui: <a href="{{anunciosActual[0].link}}" mat-raised-button color="primary"> {{anunciosActual[0].link}}</a></p>
                  </div>
                </div>
                <div class="carousel-item" *ngIf="cantAnuncios == 2 || cantAnuncios == 3">
                  <img class="d-block w-100" [src]="'data:image/jpg;base64,' + anunciosActual[1].img" alt="Second slide">
                  <div class="carousel-caption d-none d-md-block">
                    <p>Ingresa aqui: <a href="{{anunciosActual[1].link}}" mat-raised-button color="primary">{{anunciosActual[1].link}}</a></p>
                  </div>
                </div>
                <div class="carousel-item" *ngIf="cantAnuncios == 3">
                  <img class="d-block w-100" [src]="'data:image/jpg;base64,' + anunciosActual[2].img" alt="Third slide">
                  <div class="carousel-caption d-none d-md-block">
                    <p>Ingresa aqui: <a href="{{anunciosActual[2].link}}" mat-raised-button color="primary">  {{anunciosActual[2].link}}</a></p>
                  </div>
                </div>
              </div>

              <button class="carousel-control-prev" *ngIf="cantAnuncios == 2 || cantAnuncios == 3" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" *ngIf="cantAnuncios == 2 || cantAnuncios == 3" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
              
            </div>
					</div>
		</div>

	</div>
</div>