.formConvocatoria{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-top: 85px;
}
.fondoConvocatoria{
	margin-left: 12%;
    
}
.tituloRegistroConvocatoria{
    font-size: 24px;
    margin-top: 0;
}

.formConvocatoria > .divFormConvo{
	margin: 0 auto;
    width: 65%;
}
.inputsEspacio{
    width: 60%;
}

@media (max-width: 1200px) {
    .inputsEspacio{
        width: 80%;
    }
}
@media (max-width: 911px) {
    .inputsEspacio{
        width: 108%;
    }
}
@media (max-width: 687px) {
    .inputsEspacio{
        width: 130%;
    }
    .formConvocatoria .divFormConvo {
        margin-left: 12%;
    }
}
@media (max-width: 578px) {
    .inputsEspacio{
        width: 130%;
    }
    .formConvocatoria .divFormConvo {
        margin-left: 12%;
    }
    .formConvocatoria {
        width: 70% !important;
    }
}