<app-navbar></app-navbar>

 <ng-template #templateActualizado>
    <div *ngIf="success" class="dialogSuccess" >
        <i class="icofont-ui-check text-center iconSuccessRegister"></i>
        <h2 class="text-center textoSuccess">Actualizado exitosamente</h2>
    </div>   
    <div *ngIf="!success" class="dialogSuccess" >
        <i class="icofont-close-circled text-center iconErrRegister"></i>
        <h2 class="text-center textoSuccess">Error al actualizar <small style="display:block;" *ngIf="!intentosPermitidos">No hay mas intentos permitidos</small></h2>

    </div>       
    </ng-template>

<ng-template #mytemplate >
    <div>
        <div class="row">
            <div class="col s8">
                <h1>Convocatoria - {{postuSeleccionada.nombreConv}}</h1>
            </div>
            <div class="col s4">
                <a class="botonActivarForm" (click)="activarActualizar()"><i class="icofont-ui-edit right lapizEditPostu"></i></a>
            </div>
        </div>
       
            <div class="row">
                <div class="col s6">
                    <label for="fechapostu">Fecha postulacion</label>
                    <input type="text" name="fechapostu" disabled="true" [value]="postuSeleccionada.fechapostulacion">
                </div>
                <div class="col s6">
                    <label for="estado">Estado</label>
                    <input type="text" name="estado" disabled="true" [value]="postuSeleccionada.estado_postulacion">
                </div>
            </div>
             <form [formGroup]="myForm" novalidate>
            <div class="row">
                <div class="col s6">
                    <label for="estado">Semestre</label>
                    <mat-form-field appearance="fill">
                      <mat-select #semestre required formControlName="semestre" [disabled]="!activarUpdate">
                        <mat-option>-- Selecciona el semestre cursando --</mat-option>
                        <mat-option value="1">1</mat-option>
                        <mat-option value="2">2</mat-option>
                        <mat-option value="3">3</mat-option>
                        <mat-option value="4">4</mat-option>
                        <mat-option value="5">5</mat-option>
                        <mat-option value="6">6</mat-option>
                        <mat-option value="7">7</mat-option>
                        <mat-option value="8">8</mat-option>
                        <mat-option value="9">9</mat-option>
                        <mat-option value="10">10</mat-option>
                        
                      </mat-select>
                      <mat-label><i class="icofont-calendar icoselectCalendar"></i> <b> {{postuSeleccionada.semestre}}</b> </mat-label>
                    </mat-form-field>
                    <div *ngIf="myForm.get('semestre').errors && myForm.get('semestre').dirty">
                        <p class="red-text" *ngIf="myForm.get('semestre').hasError('required')">Por favor, no dejar el campo convocatoria vacio.</p>
                    </div>
                </div>

                <div class="col s6">
                    <label for="estrato">Estrato</label>
                    <mat-form-field appearance="fill">
                      <mat-select #estrato required formControlName="estrato" [disabled]="!activarUpdate">
                        <mat-option>-- Selecciona su estrato --</mat-option>
                        <mat-option value="1">1</mat-option>
                        <mat-option value="2">2</mat-option>
                        <mat-option value="3">3</mat-option>
                        <mat-option value="4">4</mat-option>
                        <mat-option value="5">5</mat-option>
                        <mat-option value="6">6</mat-option>
                      </mat-select>
                      <mat-label><i class="icofont-home icoselectCalendar"></i> <b> {{postuSeleccionada.estrato}}</b> </mat-label>
                    </mat-form-field>
                    <div *ngIf="myForm.get('estrato').errors && myForm.get('estrato').dirty">
                        <p class="red-text" *ngIf="myForm.get('estrato').hasError('required')">Por favor, no dejar el campo estrato vacio.</p>
                    </div>


                </div>
            </div>
            <div class="row" >
                <div class="col s12">
                    <label for="promedio">Promedio</label>
                    <input #promedio type="text" formControlName="promedio" id="promedio" >
                    <div *ngIf="myForm.get('promedio').errors && myForm.get('promedio').dirty">
                        <p class="red-text" *ngIf="myForm.get('promedio').hasError('required')">Por favor, no dejar el campo promedio vacio.</p>
                        <p class="red-text" *ngIf="myForm.get('promedio').hasError('minlength')">Minimo 1 caracter</p>
                        <p class="red-text" *ngIf="myForm.get('promedio').hasError('maxlength')">Maximo 2 caracteres</p>
                    </div>
                </div>
            </div>
            

            <div class="row" *ngIf="activarUpdate">
                <div class="col s12 center">
                    <button class="waves-effect waves-light btn red" (click)="actualizarPostu(semestre.value,estrato.value,promedio?.value,templateActualizado)" [disabled]="myForm.invalid"><i class="icofont-check right lapizUpdatePostu"></i> Editar postulacion</button>
                </div>
            </div>
            </form>
<!--             <div class="row" *ngIf="!activarUpdate">
                <div class="col s12">
                    <label>Promedio</label>
                    <input type="text" [disabled]="!activarUpdate" [value]="postuSeleccionada.promedio">
                </div>
            </div> -->
            <div class="row">
                <div class="col s12">
                    <label for="estado">Estado</label>
                    <input type="text" name="estado" disabled="true" [value]="postuSeleccionada.estado_postulacion">
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <label for="estado">Comentario psicologia</label>
                    <input type="text" name="estado" disabled="true" [value]="postuSeleccionada.comentpsicologa">
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <h3 class="tituloEstados">Estados documentos postulación</h3>
                </div>
            </div>
            <div class="row">
                <div class="col s4">
                    <p>
                        <label>
                            <input type="checkbox" disabled="true" [checked]="postuSeleccionada.documentos.d10"/>
                            <span>D10</span>
                        </label>
                    </p>
                </div>
                <div class="col s4">
                    <p>
                        <label>
                            <input type="checkbox" disabled="true" [checked]="postuSeleccionada.documentos.factservicio"/>
                            <span>Factura de servicio</span>
                        </label>
                    </p>
                </div>
                <div class="col s4">
                    <p>
                        <label>
                            <input type="checkbox" disabled="true" [checked]="postuSeleccionada.documentos.cartapeticion"/>
                            <span>Carta de petición</span>
                        </label>
                    </p>
                </div>
                <div class="col s4">
                    <p>
                        <label>
                            <input type="checkbox" disabled="true" [checked]="postuSeleccionada.documentos.carnetestudiante"/>
                            <span>Carnet de estudiante</span>
                        </label>
                    </p>
                </div>
                <div class="col s4">
                    <p>
                        <label>
                            <input type="checkbox" disabled="true" [checked]="postuSeleccionada.documentos.cedulapadre"/>
                            <span>Cedula padre</span>
                        </label>
                    </p>  
                </div>
                <div class="col s4">
                    <p>
                        <label>
                            <input type="checkbox" disabled="true" [checked]="postuSeleccionada.documentos.cedulamadre"/>
                            <span>Cedula madre</span>
                        </label>
                    </p>      
                </div>
                <div class="col s4">
                    <p>
                        <label>
                            <input type="checkbox" disabled="true" [checked]="postuSeleccionada.documentos.promedioacumulado"/>
                            <span>Promedio acumulado</span>
                        </label>
                    </p>  
                    </div>  
                <div class="col s4">
                    <p>
                        <label>
                            <input type="checkbox" disabled="true" [checked]="postuSeleccionada.documentos.tabulado"/>
                            <span>Tabulado</span>
                        </label>
                    </p>              
                </div>
            </div>
        
    </div>

</ng-template>
<div class="row rowViewPostest">
<div class="col s12 m7">
    <div class="card">
        <div class="card-content">
        	<h1>Mis postulaciones</h1>
        	<hr>
        	<table>
                <thead>
                    <tr>
                        <th>Nombre estudiante</th>
                        <th>Estrato</th>
                        <th>Promedio</th>
                        <th>Fecha postulacion</th>
                        <th>Semestre</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let postu of postusBuscadas">
                        <td>{{postu.estudiante.nombreestudiante}}</td>
                        <td>{{postu.estrato}}</td>
                        <td>{{postu.promedio}}</td>
                        <td>{{postu.fechapostulacion}}</td>
                        <td>{{postu.semestre}}</td>
                        <td>{{postu.estado_postulacion}}</td>
                        <td>
                            <a (click)="abrirPostu(mytemplate,postu)"><i class="icofont-search-document iconcheckAprobar"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
