@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Raleway:wght@100;200;300&display=swap');

*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 'Raleway', sans-serif !important;
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #c34136;
}

/* You can add global styles to this file, and also import other style files */

body { margin: 0;font-family: 'Raleway', sans-serif !important;}

.imglogo1, .imglogo2{
	width: 120px;
	margin: 10px;
}

.menubar{
	display: inherit !important;
}

.infonickname{
	display: inline-block;
	float: right;
	vertical-align: top;
	margin-top: 24px;
	margin-right: 26px;
}

.d0{
	display: inline-block !important;
}

.d1{
	display: none !important;
}

.anicknamee{
	background: white;
	border-bottom: 2px solid #f04c3e;
	cursor: pointer;
}

.infonumtiquetes{
	display: inline-block;
	vertical-align: top;
	margin-top: 30px;
	float: left;
}

.numberinfotiquetes{
	display: block;
}

.infodivtiquetes{
	display: inline-block;
	margin-left: 20px;
	border-bottom: 3px solid #f04c3e;
}
.titlediv{
	display: block;
	text-align: center;
}

.header{
	z-index: 1;
	background: white;
	position:relative
}

.navheader{
	text-align: center;
}

.logos{
	display: inline-block;
	text-align: left;
	width: 34%;
}

.divimginfo{
	display: inline-block;
	width: 25%;
}

.divimginfo > img{
	vertical-align: inherit;
}

.divinfotext{
	display: inline-block;
	width: 60%;
}

.apoyosinfo{
	text-align: center;
}

.apoyoinfo{
	display: inline-block;
	margin: 2em;
	box-shadow: 0px 1px 7px #a7a1a1;
	width: 150px;
	vertical-align: top;
	height: 200px;
	border-radius: 5px;
	background: white;
}
.cardimgs{
	height: 30%;
	padding-top: 10px;
}
.cardtexts{
	height: 70%;
	margin-top: 15%;
}

/*Info*/

.info{
	padding: 5em;
}

.titlesigbe{
	text-align: center;
	margin-bottom: 30px;
	border-bottom: 2px solid  #b52525;
	display: inline-block;
	padding-bottom: 10px;
	width: 500px;
}

.divbuttonconocemas{
	text-align: center;
}

.tablelist{
	background: white;
	padding: 50px;
	box-shadow: 1px 1px 10px black;
	border-radius: 10px;
	font-weight: 600;
}



.ol, ul{
	padding-left: 0 ;
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary{
	background-color: #0056cc;
}

.cup1{
	padding: 3% 20% 8% 20%;
	background: url(assets/imgs/fondo2.png);
	z-index: -1;
	/*height: 78.5vh;*/
}

.formtiq{
	background: white;
	padding: 50px;
	box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
	border-radius: 5px;
	font-weight: 600;
}

.buttonconocemas{
	border:none;
	background: #e42b2b;
	color: white;
	font-weight: 600;
	box-shadow: 0px 0px 5px #615f5f;
	padding:15px;
	text-decoration: none;
	transition: all ease .1s;
}

.buttonconocemas:hover{
	background:#bb2222;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
    background-color: #c34136 !important;
}


/*Menu estilo desplegable*/

.menusbarra{
	width: 100%;
	display: block;
}

.nav{
	background: rgb(230 226 226);
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
}

ul, ol {
	list-style:none;
}

.nav > li {
	display: inline-block;
}

.nav li a {
	background-color:rgb(230 226 226);
	color:black;
	text-decoration:none;
	padding:10px 12px;
	display:block;
}

.nav li a:hover {
	background-color:#d0cfcf;
}

.nav li ul {
	display:none;
	position:absolute;
	min-width:140px;
}

.nav li:hover > ul {
	display:block;
}

.nav li ul li {
	position:relative;
}

.nav li ul li ul {
	right:-140px;
	top:0px;
}

/*Slider*/

.divulbuttonslider{
	position: absolute;
	display: inline-block;
	top: 70%;
	left: 50%;
}

.ilink{
	width: 15px;
	height: 15px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: #9e9e9e;
	box-shadow: 0px -6px 6px black inset;
	transition: all ease .1s;
}

.ilink:hover{
	width: 16px;
	height: 16px;
	background: #ff0000;
}

.lislider{
	display: inline-block;
}

input[name="slider-select-element"] {
	display: none;
}

#slider-arrows {
	margin: -10% auto 0 auto;
	width: 80%;
}

#slider-box {
	-moz-animation: autoSlider 15s infinite linear;
	-o-animation: autoSlider 15s infinite linear;
	-webkit-animation: autoSlider 15s infinite linear;
	animation: autoSlider 15s infinite linear;

	-webkit-transition: all 0.75s ease;
	-moz-transition: all 0.75s ease;
	-ms-transition: all 0.75s ease;
	-o-transition: all 0.75s ease;
	transition: all 0.75s ease;

	height: 100%;
	width: 300%;
}

#slider-container {
	height: 20%;
	margin: 0 auto;
	overflow: hidden;
	text-align: left;
}

.element-blue,
.element-green,
.element-red {
	min-height: 400px;
	max-height: 100%;
	width: 100%;
}

.element-blue {
	background: url(assets/imgs/banner1.jpg)  ;
	background-size: cover;
}

.element-green {
	background: url(assets/imgs/banner2.jpg)  ;
	background-size: cover;
}

.element-red {
	background: url(assets/imgs/banner3.jpg)  ;
	background-size: cover;
}

.slider-element {
	float: left;
	width: 33.333%;
}

@-moz-keyframes autoSlider {
	0% {
		margin-left: 0;
	}

	30% {
		margin-left: 0;
	}

	35% {
		margin-left: -100%;
	}

	65% {
		margin-left: -100%;
	}

	70% {
		margin-left: -200%;
	}

	95% {
		margin-left: -200%;
	}

	100% {
		margin-left: 0;
	}
}

@-webkit-keyframes autoSlider {
	0% {
		margin-left: 0;
	}

	30% {
		margin-left: 0;
	}

	35% {
		margin-left: -100%;
	}

	65% {
		margin-left: -100%;
	}

	70% {
		margin-left: -200%;
	}

	95% {
		margin-left: -200%;
	}

	100% {
		margin-left: 0;
	}
}

@keyframes autoSlider {
	0% {
		margin-left: 0;
	}

	30% {
		margin-left: 0;
	}

	35% {
		margin-left: -100%;
	}

	65% {
		margin-left: -100%;
	}

	70% {
		margin-left: -200%;
	}

	95% {
		margin-left: -200%;
	}

	100% {
		margin-left: 0;
	}
}
@media (max-width: 1160px) {
	.divimginfo, .divinfotext{
		width: 100%;
		text-align: center;
	}
}

@media (max-width: 1024px) {
	.divimginfo > img{
		width: 150px;
	}
}


@media (max-width: 971px) {
	.cup1{
		padding: 8% 7% 8% 7%;
	}
}

@media (max-width: 850px) {
	.infonickname{
		margin: 0;	
		width: 100%;
	}
	.logos{
		width: 50%;
	}
}
@media (max-width: 730px) {
	.logos{
		text-align: center;
		width: 100%;
	}
	.infonumtiquetes{
		margin-bottom: 30px;
		width: 100%;
		float: none;
	}
	.d0{
		display: none !important;
	}
	.d1{
		display: block !important;
	}
}

@media (max-width: 600px) {
	.titlesigbe{
		width: inherit;
	}
}