<app-navbar></app-navbar>
<ng-template #mytemplate>
	<div *ngIf="success" class="dialogSuccess">
		<i class="icofont-ui-check text-center iconSuccessRegister"></i>
		<h2 class="text-center textoSuccess">Registrado exitosamente</h2>
	</div>
	<div *ngIf="!success" class="dialogSuccess">
		<i class="icofont-close-circled text-center iconErrRegister"></i>
		<h2 class="text-center textoSuccess">Error al registrar</h2>
	</div>
</ng-template>
<div class="cuerpopage cup1" data-aos="fade-down" data-aos-once="true"> 
	<form class="formtiq" [formGroup]="formularioCuposAsigna">
		<h1 class="tituloRegistroConvocatoria"> Crear una asignación de cupos nueva</h1>	
		<hr>
		<div class="row">
			<div class="col-12">

				<h4>Ingrese fecha</h4>

				<mat-form-field appearance="fill">
					<mat-label>Ingrese fecha</mat-label>
					<input matInput [matDatepicker]="picker" #fecha min="{{fechaActual}}" id="start" name="fechaasingacion">
					<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-datepicker #picker></mat-datepicker>
				</mat-form-field>

			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<h4>Ingrese Cupos Almuerzo</h4>
				<mat-form-field class="example-full-width" appearance="fill">
					<mat-label>Cupos Almuerzo</mat-label>
					<input #cuposalmuerzo type="number" id="cuposalmuerzo" matInput placeholder="Ingrese los cupos de almuerzo" value="" formControlName="cuposAlmuerzo" >
					<mat-error class="help-block form-error text-danger small"
					*ngIf="formularioCuposAsigna.controls['cuposAlmuerzo'].hasError('required') && formularioCuposAsigna.controls['cuposAlmuerzo'].touched">
				Cupos de almuerzo es requerido </mat-error>
			</mat-form-field>
		</div>
		<div class="col-6">
			<h4>Ingrese cupos Refrigerio</h4>
			<mat-form-field class="example-full-width" appearance="fill">
				<mat-label>Cupos Refrigerio</mat-label>
				<input #cuposrefrigerio type="number" id="cuposrefrigerio" matInput placeholder="Ingrese los cupos de refrigerio" value="" formControlName="cuposRefrigerio" >
				<mat-error class="help-block form-error text-danger small"
				*ngIf="formularioCuposAsigna.controls['cuposRefrigerio'].hasError('required') && formularioCuposAsigna.controls['cuposRefrigerio'].touched">
			Cupos de refrigerio es requerido </mat-error>
		</mat-form-field>
	</div>
</div>

<div class="row m-4 text-center">
	<div class="col-12">
		<a mat-raised-button color="primary" [class.disabled]="!formularioCuposAsigna.valid"
		(click)="registrarAsignacion(fecha.value,cuposalmuerzo.value,cuposrefrigerio.value,mytemplate)"  name="action">Registrar</a>
	</div>
</div>

<div class="row">
	<div class="col-12">
		

		<h1>Asignaciones creadas</h1>
		<hr>
		<table class="table table-bordered table-striped mb-0">
			<thead>
				<tr>
					<th>Concecutivo</th>
					<th>Fecha</th>
					<th>Cupos Almuerzos</th>
					<th>Cupos Refrigerio</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let asign of asignacionesBuscadas">
					<td>{{asign.consecutivo_cupostickets}}</td>
					<td>{{asign.fechaasignacion.date | date:'dd/MM/yyyy'}}</td>
					<td>{{asign.cuposdisponiblesalmuerzo}}</td>
					<td>{{asign.cuposdisponiblesrefrigerio}}</td>
					<td>
						<a><i class="icofont-checked iconcheckAprobar"></i></a>
						<a><i class="icofont-ui-edit iconcloseAprobar"></i></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

</form>

</div>
