<app-navbar></app-navbar>

<div class="fondo"> 
<div class="caja z-depth-3">
    <div class="logo">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/eb/Univalle.svg/1200px-Univalle.svg.png " width="50px" alt="LogoUV">
    </div>
    <form class="col s12">
      <h5>Registro estudiantil</h5>
        <div class="row"> 
            <div class="input-field col s12">
                <input type="number"  id="identificacion">
                 <label for="">Identificacion</label> 
               
                </div> 
        </div>
      <div class="row">
        <div class="input-field col s6">
          <input  id="first_name" type="text" class="validate">
           <label for="first_name">Nombre</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Apellido</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
     
      <div class="row">
        <div class="input-field col s6">
          <input  id="codigo" type="number" class="validate">
          <label for="codigo">Codigo estudiante</label>
        </div>
        <div class="input-field col s6">
            <input id="password" type="password" class="validate">
            <label for="password">Contraseña</label>
          </div>
      </div>
      <div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Registarme
          </button>
          <button class="btn waves-effect waves-light" type="submit" name="action">Regresar
          
        </button>
      </div>
    </form>
  </div>
</div>
