<app-navbar></app-navbar>
<ng-template #mytemplate>
  <div *ngIf="success" class="dialogSuccess">
    <i class="icofont-ui-check text-center iconSuccessRegister"></i>
    <h2 class="text-center textoSuccess">Registro exitoso </h2>
  </div>
  <div *ngIf="!success" class="dialogSuccess">
    <i class="icofont-close-circled text-center iconErrRegister"></i>
    <h2 class="text-center textoSuccess">Error al Registrar</h2>
  </div>
</ng-template>

<div class="cuerpopage cup1" data-aos="fade-down" data-aos-once="true"> 
  <div class="formtiq">
    <h1>Registro estudiantil</h1>
    <hr>
    <form [formGroup]="formulariologin" novalidate>

      <div class="row "> 
        <div class="col-6">
          <h4>Identificacion</h4>
          <mat-form-field appearance="fill">
            <mat-label>Identificacion</mat-label>
            <input matInput pattern="^[0-9]+"  maxlength="10" #identificacion formControlName="identificacion" type="text"  id="identificacion">
          </mat-form-field>
          <div *ngIf="formulariologin.get('identificacion').errors && formulariologin.get('identificacion').dirty">
           <mat-error *ngIf="formulariologin.get('identificacion').hasError('required')">Este campo es obligatorio</mat-error>
           <mat-error *ngIf="formulariologin.get('identificacion').hasError('minlength')"><br>Se debe ingresar minimo 6 caracteres</mat-error>
           <mat-error *ngIf="formulariologin.get('identificacion').hasError('pattern')"><br>solo numeros</mat-error>


         </div>
       </div> 
       <div class="col-6">
        <h4>Codigo estudiante</h4>
        <mat-form-field appearance="fill">
          <mat-label>Codigo estudiante</mat-label>
          <input matInput #codigo formControlName="codigo" pattern="^[0-9]+"  id="codigo" type="text" class="validate">
        </mat-form-field>

        <div *ngIf="formulariologin.get('codigo').errors && formulariologin.get('codigo').dirty">
          <mat-error *ngIf="formulariologin.get('codigo').hasError('required')">Este campo es obligatorio</mat-error>
          <mat-error *ngIf="formulariologin.get('codigo').hasError('minlength')">Se debe ingresar minimo 5 caracteres </mat-error>
          <mat-error *ngIf="formulariologin.get('codigo').hasError('pattern')"> <br>solo numeros</mat-error>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <h4>Nombre</h4>
        <mat-form-field appearance="fill">
          <mat-label>Nombre</mat-label>
          <input matInput #nombre formControlName="nombre"id="first_name" type="text" class="validate">
        </mat-form-field>
        <div *ngIf="formulariologin.get('nombre').errors && formulariologin.get('nombre').dirty">
          <mat-error *ngIf="formulariologin.get('nombre').hasError('required')">Este campo es obligatorio</mat-error>
          <mat-error *ngIf="formulariologin.get('nombre').hasError('minlength')">Se debe ingresar minimo 3 caracteres</mat-error>
          <mat-error *ngIf="formulariologin.get('nombre').hasError('pattern')">Solo letras</mat-error>
        </div>



        

      </div>
      <div class="col-6">

        <h4>Apellido</h4>
        <mat-form-field appearance="fill">
          <mat-label>Apellido</mat-label>
          <input matInput #apellido formControlName="apellido"  id="last_name" type="text" class="validate">
        </mat-form-field>

        <div *ngIf="formulariologin.get('apellido').errors && formulariologin.get('apellido').dirty">
          <mat-error *ngIf="formulariologin.get('apellido').hasError('required')">Este campo es obligatorio</mat-error>
          <mat-error *ngIf="formulariologin.get('apellido').hasError('minlength')"><br>Se debe ingresar minimo 3 caracteres</mat-error>
          <mat-error *ngIf="formulariologin.get('apellido').hasError('pattern')"><br>Solo letras</mat-error>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">

        <h4>Email</h4>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput #email formControlName="email" pattern="[a-z]+.+[a-z]+@correounivalle.edu.co" id="email" type="email" class="validate">
        </mat-form-field>
        <div *ngIf="formulariologin.get('email').errors && formulariologin.get('email').dirty">
          <mat-error *ngIf="formulariologin.get('email').hasError('email')"><br>Correo no valido</mat-error>
          <mat-error *ngIf="formulariologin.get('email').hasError('pattern')"><br>debe terner correo univalle</mat-error>
          <mat-error *ngIf="formulariologin.get('email').hasError('required')">Este campo es obligatoria</mat-error>
        </div>
      </div>

      <div class="col-6">

        <h4>Contraseña</h4>
        <mat-form-field appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input matInput #contrasena formControlName="contrasena" id="password" type="password" class="validate">
        </mat-form-field>
        <div *ngIf="formulariologin.get('contrasena').errors && formulariologin.get('contrasena').dirty">
          <mat-error *ngIf="formulariologin.get('contrasena').hasError('required')">Este campo es obligatorio</mat-error>
          <mat-error *ngIf="formulariologin.get('contrasena').hasError('minlength')"><br>Se debe ingresar minimo 7 caracteres</mat-error>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">

        <h4>Rol</h4>
        <mat-form-field appearance="fill">
          <mat-label>Rol</mat-label>
          <input matInput maxlength="1" #roles id="rol" disabled="true" formControlName="rol" type="text" class="validate" value="1" placeholder="Estudiante">
        </mat-form-field>

        <div *ngIf="formulariologin.get('rol').errors && formulariologin.get('rol').dirty">
          <mat-error *ngIf="formulariologin.get('rol').hasError('required')">Este campo es obligatorio</mat-error>
          <mat-error *ngIf="formulariologin.get('rol').hasError('maxlength')">1 solo caracter</mat-error>
        </div>
      </div>
    </div>

    
    <div>
      <div class="row text-center" >
        <div class="col-12">
          <a mat-raised-button color="primary"  [class.disabled]="!formulariologin.valid" (click)="registrouser(identificacion.value,nombre.value,apellido.value,email.value,codigo.value,contrasena.value,roles.value,'Activo',mytemplate)" >Registrar</a>
        </div>

      </div>

    </div>
  </form>
</div>
</div>
