.caja{
    float: center;
    width: 60%;
    height: 100%;
   
    border: 1px solid gray;
    color: black;
    float: center;
     margin: 20px;
    margin-left: 10%;

    margin-top: 5% ;
    text-align: center;
    line-height:#444;
    text-transform: uppercase;
    border:none;
    /* box-shadow: 5px 5px 5px black; */
    
  

}
.wraplistarconvo{
    padding-top: 3%;
    padding-left: 3%;
}
.logo{
    padding-top: 10px;
}

table,td {
    border: 1px solid darkslategray;
    text-align: center;
}

.tabla{
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.iconcheckAprobar{
	color: green;
    font-size: 18px;
}

.iconcloseAprobar{
	color: red;
    font-size: 18px;
}