<app-navbar></app-navbar>
<div class="row fondoConvocatoria center-align ">
    <form class="col s6 formConvocatoria z-depth-3">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/eb/Univalle.svg/1200px-Univalle.svg.png " width="50px" alt="LogoUV">
      <h3 class="tituloRegistroConvocatoria"> Crea una Convocatoria</h3>
      <div class="row divFormConvo">
       <mat-form-field class="example-full-width" appearance="none">
        <mat-label>Descripción</mat-label>
        <input #descripcion id="descripcion" matInput placeholder="Añade una descripcion.." value="">
        <div class="center-align">
         <a class="btn waves-effect waves-light red darken-4 " (click)="registrarTBeca(descripcion.value)"  name="action">Registrar</a>
        </div>
       </mat-form-field>
      </div>
    </form>
  </div>
        