  <header class="header" >
    <nav class="navheader">
      <div class="infonumtiquetes d0">
        <div class="infodivtiquetes">
          <strong class="numberinfotiquetes">{{asignacionBuscada.cuposalmuerzo}}</strong>
          <span>Tiquetes de almuerzo</span>
        </div>
        <div class="infodivtiquetes">
          <strong class="numberinfotiquetes">{{asignacionBuscada.cuposrefrigerio}}</strong>
          <span>Tiquetes de refrigerio</span>
        </div>    
      </div>
      <div class="logos">
        <img class="imglogo1" src="assets/imgs/logo1.png">
        <img class="imglogo2" src="assets/imgs/logo2.png">
      </div>
      <div class="infonumtiquetes d1">
        <div class="infodivtiquetes">
          <strong class="numberinfotiquetes">{{asignacionBuscada.cuposalmuerzo}}</strong>
          <span>Tiquetes de almuerzo</span>
        </div>
        <div class="infodivtiquetes">
          <strong class="numberinfotiquetes">{{asignacionBuscada.cuposrefrigerio}}</strong>
          <span>Tiquetes de refrigerio</span>
        </div>    
      </div>
      <div class="infonickname">
        <ul class="nav menubar">
          <li><a class="anicknamee">{{this.$nombreusuario.nombre + ' ' +  this.$nombreusuario.apellido + ' '}}</a>
            <ul>
              <li> <a class="buttonCerrarse" routerLink="/modificarUsuario">Actualizar mis datos</a></li>
              <li><a class="buttonCerrarse" (click)="cerrarSesion()">Cerrar sesión</a></li>
            </ul>
          </li>
        </ul>
      </div>

    </nav>
    <div class="menusbarra">
      <ul class="nav menubar">
        <li routerLinkActive="active"><a routerLink="/bienvenida">Inicio</a></li>
        <li><a>Convocatorias</a>
          <ul>
            <li routerLinkActive="active" *ngIf="this.$nombreusuario.rol =='1'"><a routerLink="/registrarPostulacion">Postularse a una convocatoria</a></li>
            <li routerLinkActive="active" *ngIf="this.$nombreusuario.rol =='1'"><a routerLink="/listarPostulacionesEst">Ver mis postulaciones</a></li>
            <li routerLinkActive="active" *ngIf="this.$nombreusuario.rol =='2'">
              <a routerLink="/registroConvocatoria" >Crear convocatoria</a>
            </li>
            <li routerLinkActive="active" *ngIf="this.$nombreusuario.rol =='2'" >
              <a routerLink="/listarConvocatoria">Listar convocatorias</a>
            </li>
          </ul>
        </li>
        <li *ngIf="this.$nombreusuario.rol =='2'"><a >Usuarios</a>
          <ul>
            <li routerLinkActive="active"><a routerLink="/crearUsuario">Crear usuario</a></li>
            <li routerLinkActive="active"><a routerLink="/habilitarUser">Inhabilitar usuario</a></li>
          </ul>
        </li>
        <li *ngIf="this.$nombreusuario.rol =='2'"><a >Becas</a>
          <ul>
            <li routerLinkActive="active" ><a routerLink="/crearBeca">Crear Beca</a></li>
            <li routerLinkActive="active" ><a routerLink="/crearTBeca">Crear tipo beca</a></li>
          </ul>
        </li>
        <li><a >Tickets</a>
          <ul>
            <li routerLinkActive="active"  *ngIf="this.$nombreusuario.rol =='1'" >
              <a routerLink="/comprarTicket">Reservar ticket</a>
            </li>
            <li routerLinkActive="active" *ngIf="this.$nombreusuario.rol =='2'">
              <a disabled="true" routerLink="/listarTickets">Listar tickets</a>
            </li>
            <li routerLinkActive="active" *ngIf="this.$nombreusuario.rol =='1'">
              <a disabled="true" routerLink="/listarTicketEst">Listar tickets</a>
            </li>
            <li routerLinkActive="active" *ngIf="this.$nombreusuario.rol =='2'"><a routerLink="/crearAsignacion">Crear Asignación de cupos</a></li>
          </ul>
        </li>
        <li *ngIf="this.$nombreusuario.rol =='2'"><a >Anuncios</a>
          <ul>
            <li routerLinkActive="active"><a routerLink="/crearanuncio">Crear anuncios</a></li>
          </ul>
        </li>
        <li *ngIf="this.$nombreusuario.rol =='4'"><a >Formatos Psicologia</a>
          <ul>
            <li routerLinkActive="active" ><a routerLink="/visitadomiciliaria">Visita Domiciliaria</a></li>
          </ul>
        </li>
        <li *ngIf="this.$nombreusuario.rol =='2'"><a >Sistema</a>
          <ul>
            <li routerLinkActive="active"><a routerLink="/configuracion">Actualizar Configuración</a></li>
          </ul>
        </li>
        <li><a href="https://sites.google.com/correounivalle.edu.co/bienestar-universitario/conocenos" target="_blank">Acerca de Bienestar</a>
        </li>
      </ul>
    </div>
  </header>