.navbarTemplate{
	background-color:#f04c3e !important;
	box-shadow:80px 14px 25px #ccc;
}

.buttonCerrarse{
	cursor: pointer;
}

.infocuposdiv{
	width: 69%;
	text-align: center;
	display: inline-block;
}

.infocupos{
	padding: 1em;
	background: #ffffff;
	color: black;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #927979 inset;
}

.barraLateral{
	margin-top: 64px !important;
}

.navbarTemplate, .barraLateral{
	position: fixed;
	z-index: 1;
}
.ContenerBotonMenuLateral{
	z-index: 0;
	display: inline;
	background: transparent !important;
	color: white !important;
}
.barraLateral{
	background-color:#f04c3e !important;
	width: 140px;
}

.botonActivadorBarraLateral{
	display: inline;
}

.buttonIconBarra{
	border:none;
	background: transparent;
	cursor: pointer;
}
.iconoMenubar{
	color: white !important;
}

.liMenuBarLateral{
	padding: 10px;
	transition: all 1s;
}

.BotonALiBar{
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 15px;
	border-left: 3px solid #f04c3e;
	padding-left: 3px;
}

.BotonALiBar:hover{
	border-left: 3px solid white;
	padding-left: 3px;
}

.BotonALiBar:hover > .ulInternoMenu > li{
	border-left: 3px solid #f04c3e;
	padding-left: 3px;
}

.BotonALiBar:hover > .ulInternoMenu > li:hover{
	border-left: 3px solid white;
	padding-left: 3px;
}

.iconUp{
	display: none;
	transition: all 1s;
	animation: entradaMenu 0.5s linear;
}
.iconDown{
	display: inline-block;
	transition: all 1s;
	/*animation: entradaMenu 0.5s linear;*/
}

.liExterno:hover .iconDown{
	transform: rotate(180deg);
}

/*.liExterno:hover .iconUp{
	display: inline-block;
}
*/
.liExterno:hover > .ulInternoMenu{
	display: block;
}

@keyframes entradaMenu {
	to{
		opacity: 1;
	}
	from{
		opacity: 0;
	}
}

.ulInternoMenu{
	display: none;
	animation: entradaMenu 0.5s linear;
	transition: all 0.5s;
}

.iconoMenubar > img{
	margin-left: 15px;
}

/*Dropdown cerrar sesion*/
.liNombreext{
	position: relative;
	display: inline-block;
	padding: 0;
	margin-right: 30px;
}

.iconNombree{
	font-size: 15px;	
}

.ulNombreInt{
	position: absolute;
	z-index: 1;
	top: 64px;
}

.liNombreIntt{
	width: 200px;
	background: #f04c3e !important;
	padding: 0;
	font-weight: bold;
}
/*Fin dropdown*/

/* Inicio RESPONSIVE BARRA LATERAL*/
@media only screen and (max-width: 1326px){
	.liNombreext{
		margin-left: -39%;
	}
}
@media only screen and (max-width: 1264px){
	.liNombreext{
		margin-left: -39%;
	}
}
@media only screen and (max-width: 600px){
	.barraLateral {
		margin-top: 56px !important;
	}
	.ulNombreInt {
		top: 56px;
	}

}

/* Fin RESPONSIVE BARRA LATERAL*/