<app-navbar></app-navbar>
<ng-template #mytemplate>
  <div *ngIf="success" class="dialogSuccess">
    <i class="icofont-ui-check text-center iconSuccessRegister"></i>
    <h2 class="text-center textoSuccess">Actualizado exitosamente</h2>
  </div>
  <div *ngIf="!success" class="dialogSuccess">
    <i class="icofont-close-circled text-center iconErrRegister"></i>
    <h2 class="text-center textoSuccess">Error al actualizar</h2>
  </div>
</ng-template>
<div class="cuerpopage cup1" data-aos="fade-down" data-aos-once="true">
  <div class="formtiq row">
    <div class="col-6">
      <h1>CONFIGRUACIÓN ACTUAL</h1>
      <hr>
      <ul>
        <li><h4>Tarifas de los tickets</h4></li>
        <li> 
          <ul>
            <li>Tarifa ticket almuerzo sin beneficio : <strong>{{configuracionlist.valorticketalmuerzo}}</strong></li> 
            <li>Tarifa ticket refrigerio sin beneficio : <strong>{{configuracionlist.valorticketrefrigerio}}</strong></li> 
            <li>Tarifa ticket almuerzo con beneficio : <strong>{{configuracionlist.valorticketalmuerzobeneficiario}}</strong></li> 
            <li>Tarifa ticket refrigerio con beneficio : <strong>{{configuracionlist.valorticketrefrigeriobeneficiario}}</strong></li> 
          </ul>
        </li>
        <hr>
        <li>
          <h4>Horarios de venta de tickets</h4>
          <ul>
            <li>Horario venta de ticket de almuerzo: <strong>{{configuracionlist.horainicioVentaAlmuerzo}} - {{configuracionlist.horaFinVentaAlmuerzo}}</strong></li>
            <li>Horario venta de ticket de refrigerio : <strong>{{configuracionlist.horainicioVentaRefrigerio}} - {{configuracionlist.horaFinVentaRefrigerio}}</strong></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-6">
      <form >
        <h1 class="tituloConfiguracion"> MODIFICAR CONFIGURACIÓN </h1>
        <hr>
        <div class="row">
          <div class="col-12">
            <h4>Seleccione una opción a modificar</h4>
            <mat-form-field appearance="fill" >
              <mat-label>Opción a modificar</mat-label>
              <mat-select #variable required [(ngModel)]="selection" (ngModelChange)="opcionSeleccionada($event)"
              name="selection">
              <mat-option>--</mat-option>
              <mat-option *ngFor=" let option of options" [value]="option.id">
                {{option.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <form *ngIf="showvalor" [formGroup]="formPrecios" novalidate>
        <div class="col-12">
          <h4>Ingrese un nuevo precio</h4>
          <mat-form-field class="example-full-width" appearance="fill" type="number">
            <mat-label>Nuevo precio</mat-label>
            <input #valorNuevo id="valorNuevo" matInput placeholder="Valor nuevo" [value]="" pattern="^[0-9]+" formControlName="precios">
            <mat-error class="help-block form-error text-danger small"
            *ngIf="formPrecios.controls['precios'].hasError('pattern') && formPrecios.controls['precios'].touched">
          Solo números. </mat-error>
          <mat-error class="help-block form-error text-danger small"
          *ngIf="formPrecios.controls['precios'].hasError('required') && formPrecios.controls['precios'].touched">
        El campo es obligatorio.</mat-error>

      </mat-form-field>
    </div>
    <div>
      <a mat-raised-button color="primary" (click)="actualizarConfiguracion
      (variable.value,valorNuevo.value,mytemplate)" name="action">Actualizar</a>
    </div>
  </form>

  <form  *ngIf="showfecha">
    <h4>Seleccione una fecha</h4>
    <div class="row">
      <div class="col-12">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Descripción</mat-label>
          <input #valorNuevo  matInput type="time" class="tiempoCss">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <a mat-raised-button color="primary" (click)="actualizarConfiguracion
        (variable.value,valorNuevo.value,mytemplate)" name="action">Actualizar</a>
      </div>

    </div>
  </form>

</form>
</div>
</div>
</div>